[2022-07-19 22:50] dminor commented on #2214
Using `icu_canonicalizer` seems fine to me.

[2022-07-20 04:44] sffc commented on #2214
Another idea: `icu_locid_ops`

[2022-07-20 06:47] hsivonen opened #2217 "Investigate the applicability of the Eytzinger order to inversion list-based sets"
Currently, `icu_uniset` stores sets as an inversion list and performs binary search on the list. Binary search accesses memory both forward and backward. The [Eytzinger order](https://arxiv.org/abs/1509.05053) orders array elements for logically binary-search-like search so that the accesses are forward-only. We should investigate if this order is suitable for inversion lists, i.e. if the mismatch

[2022-07-20 07:07] hsivonen opened #2218 "Provide a C++ interface to the collator"
Currently, the collator isn't exposed to C++ via Diplomat. It should be.

Apart from the constructor, the `Collator` object has three public methods in Rust:
* `compare()` (takes guaranteed-valid UTF-8)
* `compare_utf8()` (takes potentially-invalid UTF-8)
* `compare_utf16()` (takes potentially-invalid UTF-16)

I expect these to be exposed to C++ as follows:

* C++ `compare()` taking `std::u16strin

[2022-07-20 07:30] hsivonen opened #2219 "Provide a C++ interface to the normalizers"
The normalizers aren't currently exposed to C++ via Diplomat. They should be.

Only the `ComposingNormalizer` and `DecomposingNormalizer` objects should have C++ counterparts.

`Composition` and `Decomposition` are Rust iterators, which are a bad fit for FFI.

`CanonicalComposition` and `CanonicalDecomposition` are for HarfBuzz. It doesn't make sense to expose them to C++ absent non-HarfBuzz use c

[2022-07-20 13:00] hsivonen opened #2220 "Provide a trie-based alternative to UnicodeSet"
The ICU4X composing normalizer uses a `UnicodeSet` for a fast-path pass-through check while the ICU4C composing normalizer uses a code point trie lookup. ICU4C ends up being faster ever after optimizing other aspects on the ICU4X side, including special-casing the lowest range of the set (the Latin range below the combining diacritics block).

For a known-fragmented compile-time-known set, we shou

[2022-07-20 16:49] hsivonen opened #2221 "Combine normalization-related UnicodeSets to bit lanes in a trie of u8"
The various normalization-related sets should be combined into a single `CodePointTrie` whose value is `u8` such that each bit position signifies membership in a particular set. The set memberships should be formulated such that Han characters end up with all bits zero and yield a default zero.

Lookups would be faster than with `UnicodeSet` even for a single set membership, but two set membership

[2022-07-20 16:50] hsivonen commented on #2220
For the normalizer, #2221 makes more sense.

[2022-07-20 19:56] robertbastian commented on #1856
And we're re-exporting it as `icu::collections`?

[2022-07-20 19:58] robertbastian commented on #2215
I think this is a fairly small change and would let us get rid of a macro, so I approve.

[2022-07-20 20:04] sffc commented on #1856
Yes

[2022-07-20 22:14] #1576 closed

[2022-07-21 00:07] echeran opened #2225 "Rename CodePointSet to CodePointInversionList"
As a followup to PR #2198, we may want to adjust our choice of how to rename the concrete data structure implementation `UnicodeSet` so that there is a consistency for both set data and map data.  More specifically, the consistency is in how the concrete things are named relative to their corresponding interface-like user return values.

Ex: if `PropertyCodePointMapV1` is the interface-like return

[2022-07-21 04:40] #905 closed

[2022-07-21 05:41] sffc opened #2226 "Fix test_fi"
`test_fi` is not currently passing, but `test_sv` is passing. Investigate.

[2022-07-21 05:50] sffc commented on #2226
Never mind; fixed typo in 67ac073ee939dbe00bd19f01dff2ce218350c83f

[2022-07-21 05:50] #2226 closed

[2022-07-21 10:37] robertbastian commented on #2188
#2224 is a wider improvement, we borrow `DataLocale`s inside the `DataRequest` (which becomes copy and can be passed by value). The only case where we need to mutate it, during fallback, we do a single clone (@sffc and I have discussed this, and runtime fallback is already an expensive operation).

Now the problem becomes that the client might have a `&Locale`, a `&LanguageIdentifier`, or maybe in

[2022-07-21 15:19] robertbastian commented on #2214
Is the term "canonicalize" ever used for Unicode text (instead of "normalize")? If so I can see this being confusing.

[2022-07-21 15:44] #1995 closed

[2022-07-21 15:44] #2117 closed

[2022-07-22 01:27] sffc commented on #2214
It's possible. Basically ICU4X would be _defining_ that "normalize" refers to text and "canonicalize" refers to locale IDs. But if we don't want to make that definition, we could explore a name like `icu_locid_ops`.

As a reminder: the reason these aren't in the core `icu_locid` crate is because that crate has no data dependencies.

[2022-07-22 01:29] sffc commented on #2214
Another option is to add a feature to the `icu_locid` crate and move these in. An advantage is that we could integrate more closely with the existing Locale APIs. I think maybe the reasons for trying to keep data out of `icu_locid` are largely obsolete and I'm happy to revisit that years-old decision.

[2022-07-22 01:55] sffc commented on #2188
Here's how I see things progressing.

The type being passed into the constructors is DataLocale for now, but I anticipate changing to _something_ like Preferences in the future. Therefore, we need to perform _some_ conversion operation between the constructor type and the data provider type.

I can see a future where DataLocale becomes `Copy` because it will never contain more than the following:

[2022-07-22 02:01] sffc commented on #2188
I also want to emphasize the advantages of DataLocale over Locale:

1. DataLocale has smaller code size thanks to a smaller `Drop` impl and fewer things to maybe deallocate
2. DataLocale has smaller stack size (but, as discussed previously, I don't really know the impact of this)
3. DataLocale allows us to add additional private fields in the future to support more use cases
4. DataLocale contains

[2022-07-22 10:37] robertbastian commented on #2188
My thinking is that there will be some long-lived `Locale` object that represents the human, and many API calls will use this. In the future this might be a preferences object containing a `Locale`, but right now it would be a `Locale`, so I'm gonna use those interchangeably below.

Now if we can create a `DataLocale` by cheaply copying things from `Preferences`, great. Your example seems to do to

[2022-07-22 11:05] robertbastian commented on #2214
I don't like `ops` because it's such an abstract term, like `icu_locid_functionality`.

I think having it in `icu_locid` is most ergonomic.

We could also use `icu_locid_canonicalizer` which would be more aligned with our crate structure as it would mimic `icu::locid::canonicalizer`.

`icu_locid_canon` would be the coolest name. 💣

[2022-07-22 14:39] sffc commented on #2214
CC @zbraniecki

I like `icu_locid_canon` :)

[2022-07-23 00:47] sffc commented on #2188
Note that part of this issue is resolving that certain APIs (mainly DTF) currently _require_ that LocaleFallbackProvider be enabled.

[2022-07-23 01:59] echeran commented on #1444
After looking at the code and understanding the problem more, this issue seems moot.

In theory, it would be useful to have separate getters for returning as `u32` and `i32` so that we can allow more efficiency for users who only need `u32` data by reading the bytes as-is, and let users who need signed numbers (`i32`) to pay the cost of necessarily reading the full 32 bits (both `u16` elements) an

[2022-07-23 01:59] #1444 closed

[2022-07-23 02:07] sffc commented on #1444
I agree that since we are only ever consuming ICU4C data, which always uses `i32`, we can justify `i32` in this API. The footgun of `-1` looking like it should be stored efficiently, even though it is not stored efficiently, still exists, but that is an issue more for the builder than the consumer.

[2022-07-24 04:20] sffc commented on #2188
To summarize my takeaways from a discussion on this topic with @robertbastian:

- We both agree that eventually the constructor type, which I'll call `Preferences`, should be different than the data provider / vertical fallback type, which I'll call `DataLocale`
- My assertion that `DataLocale` can eventually be `Copy` is incompatible with the requirements of the constructor type, which needs to c

[2022-07-24 06:34] sffc commented on #2038
The regions using non-Gregorian default are:

- AF, IR (persian)
- SA (islamic-umalqura)
- TH (buddhist)

Source: https://github.com/unicode-org/cldr/blob/b2b36963947b0e3e172fa40519d13afd9877a227/common/supplemental/supplementalData.xml#L4715

Of those, the only one we support right now is Buddhist. So to fix the 1.0 issue, we can hard-code a check for TH. Given that Thai is one of our testdata la

[2022-07-24 06:47] sffc opened #2236 "Implement consistent handling of regional defaults for extension keywords"
We currently handle the `-u-hc` and `-u-ca` keywords (and `-u-nu` after #510). However, they are all handled differently in code, particularly how we deal with loading locale defaults for them.

The `-u-nu` tag works closest to how I envisioned in the [vertical fallback design doc](https://docs.google.com/document/d/1Mp7EUyl-sFh_HZYgyeVwj88vJGpCBIWxzlCwGgLCDwM/edit#): the default numbering system

[2022-07-24 06:47] sffc commented on #2038
Created #2236 for the longer-term solution to this problem.

[2022-07-24 06:58] sffc opened #2237 "Locale of constructed object design"
Split from #173

The design doc submitted in https://github.com/unicode-org/icu4x/pull/1237 does not appear to address one of the original questions from #173, which is what types of getters we should expose on formatters to describe what locale they represent.

CC @mihnita

[2022-07-25 02:39] makotokato opened #2239 "Han/Katakana/Hiragana property for word segmenter's datagen"
From https://github.com/unicode-org/icu4x/pull/2209

In datagen of  word segmenter, we assign special property for east asian language to use lstm or dictionary. We need to improve CJ support, we have to assign same property as EA or special property.

Also, actually, UAX29's rule has Katakana rules, but we might have to dictionary for Katakana instead of UAX29 rule.

[2022-07-25 15:48] sffc opened #2240 "Full-featured IETF datetime string parsing"
We should implement a string parser conforming to [IETF Sedate](https://datatracker.ietf.org/wg/sedate/about/) that parses a string into its components (date, time, time zone, calendar), and use this parser in APIs and anywhere else we parse date strings. Think about where to put this code in the crate structure.

[2022-07-25 15:49] sffc opened #2241 "Fix string parsing of DateTime strings for 1.0"
For ICU4X 1.0, we need a quick solution for how to get from strings to DateTime objects. This solution should be forward-compatible with https://github.com/unicode-org/icu4x/issues/2240.

[2022-07-25 15:51] #1675 closed

[2022-07-25 17:29] yzhang1994 commented on #2191
@sffc Quick question: similar to the variants, I believe there should be some limitations on what we can parse in a const context. Will the locale macro only support a single unicode key value pair? What about other parts of `Extensions` e.g. `Transform`, `Private`? Unicode `Attributes`?

[2022-07-25 17:34] sffc commented on #2191
Good question; I want to start with just `unicode::Keywords` because those are the most common requirement. The other items can be added later if they are needed.

[2022-07-25 19:27] sffc opened #2243 "Polish vertical fallback algorithm and submit to CLDR"
We should add more thorough tests for the [vertical fallback algorithm](https://docs.google.com/document/d/1Mp7EUyl-sFh_HZYgyeVwj88vJGpCBIWxzlCwGgLCDwM/edit) and then submit it to CLDR.

CLDR issue: https://unicode-org.atlassian.net/browse/CLDR-15861

[2022-07-25 19:28] sffc commented on #1203
Follow-up work tracked in #2243

[2022-07-25 19:38] samchen61661 opened #2245 "Add an offset_fallback field in TimeZoneFormatV1, hardcoded to “GMT+?”"
Add an offset_fallback field in TimeZoneFormatV1, hardcoded to “GMT+?”

[2022-07-25 22:12] #1203 closed

[2022-07-25 23:37] sffc commented on #1092
Mostly a duplicate of #58, which is marked as 1.x

[2022-07-26 00:23] #2225 closed

[2022-07-26 07:30] makotokato commented on #813
We have added 4 language models by LSTM and dictionary. Close this.

[2022-07-26 07:30] #813 closed

[2022-07-26 17:58] sffc commented on #2101
Based on the ranked-choice voting, the least offensive option appears to be `with_max_position(self)` + `set_max_position(&mut self)`. So I will set that as the conclusion and this issue is now unblocked. @younies volunteered to make the changes.

To recap, we are renaming these 6 functions:

- `truncate_left` becomes `set_max_position`
- `truncate_right` becomes `trunc`
- `pad_left` becomes `pad_

[2022-07-26 20:14] aethanyc commented on #943
https://github.com/unicode-org/icu4x/issues/1033 has been closed, so let's close this meta issue.

[2022-07-26 20:14] #943 closed

[2022-07-26 21:24] Manishearth opened #2254 "Coptic and Ethiopic date conversions from iso fail for dates sufficiently in the past"
[code]

This fails with:

<details>

[code]
</details>

What's happening is that `month` in  `coptic_from_fixed` is ending up negative.

The code we have does seem to match the code from the book, I _suspect_ what's happening is that dates before the Julian epoch are messing up the math somehow. I haven't been able to figure out what's wrong though.

Worth investigating.

[2022-07-26 21:24] Manishearth commented on #2254
cc @pandusonu2 would you have time to look into this?

[2022-07-26 21:48] Manishearth opened #2256 "We should have a better timezone offset_fallback"
https://github.com/unicode-org/icu4x/pull/2253 adds `offset_fallback`, used when we are unable to display a timezone offset due to it not being specified. Ideal usage of the timezones API will not hit this case since most users should be using the timezone resolution API to construct this. For now, we hardcode it to `"GMT+?"`. However, it is worth considering internationalizing this further, or pi

[2022-07-26 22:08] samchen61661 opened #2257 "MetaZonePeriod creates duplicate Json files for different locale"
MetaZonePeriod creates duplicate Json files for different locale, we only need one of them for optimization.

[2022-07-26 22:59] Manishearth commented on #2145
So it might be a bit late to suggest this but I'm now wondering if instead of `icu_datetime`, `icu_calendar`, `icu_timezone` we should have `icu_temporal_format`, `icu_datetime`, and `icu_timezone`. Especially since the actual `DateTime` type lives in `icu_calendars`.

@echeran also noted that it can be confusing talking about formatter crates vs other crates.

[2022-07-26 23:13] sffc commented on #2145
We don't put "format" in other formatter crate names: `icu_list`, `icu_decimal`, etc.

The utility for `icu_decimal` is `fixed_decimal`, which could suggest that the utility for `icu_datetime` is some other entirely new name. But I think it's fine if it is `icu_*` like `icu_locid` which is not a formatter.

I do think that `icu_datetime` should remain the formatting crate, because it is DateTimeFo

[2022-07-26 23:49] #2245 closed

[2022-07-27 00:26] sffc opened #2258 "Investiage proper use of BIES in LSTM Segmenter"
In this code:

https://github.com/unicode-org/icu4x/blob/1602d46878fa471d1e79dfcf5af5fbc2134d0fcf/experimental/segmenter/src/lstm.rs#L62

We only check for `'e'`. I think we should check for `'e'` or `'s'`.

Also, consider adding more tests in general. Or consider using the experimental BIES crate.

[2022-07-27 00:29] sffc opened #2259 "Move Segmenter to Components"
Checklist for Segmenter in Components:

- [x] Apply the [boilerplate](https://github.com/unicode-org/icu4x/blob/main/docs/process/boilerplate.md)
    - [x] Ensure everything is documented by adding back `#[warn(missing_docs)]` (#2366)
    - [x] Add Clippy lints
       - [x] https://github.com/unicode-org/icu4x/pull/2325
       - [x] https://github.com/unicode-org/icu4x/pull/2566
       - [x] https

[2022-07-27 00:46] Manishearth commented on #2145
Yeah, I know, it does feel weird that DT is in icu_calendar, and icu_datetime contains TZF as well

[2022-07-27 00:49] sffc commented on #2145
Perhaps `icu_datetime_calendars` and `icu_datetime_timezones`, similar to how we scope the provider names like `icu_provider` for the "main" one and `icu_provider_adapters`, `icu_provider_fs`, ... ?

Personally I'm fine with `icu_calendar` and `icu_timezone` though.

[2022-07-27 00:51] sffc commented on #2145
Note also that the choices here affect the meta crate. All of these should be re-exported by `icu`.

Basically you end up with `icu::calendar::DateTime` and `icu::datetime::DateTimeFormatter`, which I think is fine.

[2022-07-27 01:55] sffc commented on #1983
@robertbastian I kind-of like having an all-in-one `ZeroMap2d::get(k0, k1)`. How strongly do you feel about getting rid of that method and keeping the cursor methods named `get0` and `get1`? If we keep the all-in-one `get`, I may make it return an `Option` since `KeyError` is no longer necessary.

[2022-07-27 02:04] sffc commented on #1440
Blocked on #1856

[2022-07-27 02:07] sffc commented on #1809
I think we are mostly future-proof here. `WordBreakSegmenter` has private fields, so we could potentially add more private fields in the future. Adding a generic parameter to `WordBreakSegmenter` would be a breaking change, but we could use trait objects in the interim, and add the generic parameter in 2.0 if required. I am therefore going to mark this issue as resolved for 1.0 purposes.

[2022-07-27 02:56] sffc commented on #1379
The features are currently:

[code]

I think this is fine. DCE should take care of LineBreakSegmenter vs WordBreakSegmenter.

One possible enhancement would be to add a "dictionary" feature, but I believe that enabling "lstm" also disables the relevant dictionary keys. Note how the `try_new` signatures are different depending on the feature:

https://github.com/unicode-org/icu4x/blob/1602d46878fa4

[2022-07-27 09:14] robertbastian commented on #1983
I think `get0` and `get1` are more important APIs as they allow more client flexibility and force separate error handling, so I'd like them to have the standard names (standard as in a nested `HashMap`).

`map.get(k0).and_then(|m| m.get(k1))` isn't too verbose if you really don't care where the `None` comes from.

[2022-07-27 13:40] younies commented on #2101
I want to add that we will it change also:

- `half_truncate_right` and `half_truncated_right` to `half_trunc` and `half_trunced`

[2022-07-27 14:43] sffc commented on #1938
I think this is a `unicode_bidi` issue, not an ICU4X issue.

[2022-07-27 15:50] sffc commented on #1983
ok, here's what I will do then:

- Rename `get` and `get_copied` to `get_2d` and `get_copied_2d`
- Rename `get0` and `iter0` to `get` and `iter`
- Rename `get1`, `iter1`, and `get1_copied` to `get`, `iter`, and `get_copied`

[2022-07-27 15:59] robertbastian commented on #1983
Works for me

[2022-07-27 16:19] echeran commented on #2145
An alternative to renaming, in order to mitigate any potential confusion of new users to the crates / codebase, could be through added documentation.  We could have a doc with a graph -- a "visual map" -- of the major crates in a dependency forest graph with nodes color-coded by components (formatter & non-formatter) & utils.  Of course, an extra doc wouldn't have to be strictly coupled with the r

[2022-07-27 16:35] Manishearth commented on #2145
Yeah, to be clear I'm not really proposing renaming right now, but I do think the names are confusing. Docs might be a good call here.

[2022-07-27 16:39] #1963 closed

[2022-07-27 19:52] #2215 closed

[2022-07-27 21:21] sffc opened #2266 "Add lint for debug impls on exported types"
Context: https://github.com/unicode-org/icu4x/pull/2250#discussion_r930774402

Our style guide says that we should implement Debug on all exported types; however, we don't currently do that.

@robertbastian suggested the `missing_debug_implementations` rustc lint.

@Manishearth thoughts?

Most likely not time for 1.0 but we should try to land it in 1.1

[2022-07-27 21:50] Manishearth commented on #2266
Yeah, seems like a good idea!

[2022-07-28 17:17] sffc commented on #109
This will be closed after segmenter moves to components.

[2022-07-28 17:18] #1531 closed

[2022-07-28 17:20] sffc commented on #1091
@eggrobin Please take a look at this; thanks!

[2022-07-28 17:21] sffc commented on #1879
@pandusonu2 What is the status of this issue?

[2022-07-28 17:21] sffc commented on #1267
@eggrobin Is there anything left on this ticket?

[2022-07-28 17:22] sffc commented on #2034
@samchen61661 Is this complete?

[2022-07-28 17:29] sffc commented on #995
@nordzilla Can you split "information on which time zone is preferred for a metazone in a given territory." into its own issue so we can mark this issue as fixed?

[2022-07-28 17:38] sffc commented on #1246
To-do: make sure everything here is well documented.

[2022-07-28 17:39] sffc commented on #574
Everything uses DataError now. Nothing left to do.

[2022-07-28 17:39] #574 closed

[2022-07-28 17:42] sffc commented on #1471
Action: @sffc to document this.

[2022-07-28 17:45] sffc commented on #1954
@Manishearth to ensure that the code is consistent with the decision above

[2022-07-28 17:46] sffc commented on #1771
@Manishearth to make sure this is done.

[2022-07-28 17:53] sffc commented on #1896
@dminor Could you verify if this is fixed?

[2022-07-28 17:54] sffc commented on #1985
@younies Can you get the PR for this sent out this week?

[2022-07-28 17:57] sffc commented on #2141
@andrewpollack Is this complete?

[2022-07-28 18:02] andrewpollack commented on #2141
Completed by [#2198](https://github.com/unicode-org/icu4x/pull/2198)

[2022-07-28 18:02] #2141 closed

[2022-07-28 18:05] sffc commented on #2188
@sffc to investigate potential internal improvements here.

[2022-07-28 18:07] sffc commented on #2241
@sffc to document that the string parsing APIs may be replaced in the future.

[2022-07-28 18:11] dminor commented on #1896
Yes, it's fixed, although I think the example code needs to be updated to reflect recent changes.

[2022-07-28 18:34] sffc commented on #2214
- @Manishearth - I like having a separation between basic locid and fancy locid.
- @echeran - There's a data-heavy crate and then the function-heavy crate.
- @sffc - Canonicalization is the first data-heavy operation we added, but it is unlikely to be the last. See LocalInfo, DisplayNames, ...
- @echeran - `icu_locid_utils` is fairly generic but maybe what we want?
- @Manishearth - If we can avoid

[2022-07-28 22:53] #1959 closed

[2022-07-28 23:58] sffc commented on #211
I'm demonstrating how language packs work in #2276.

I decided not to change the actual directory structure because (1) it adds complexity and (2) most of the time consumers will have postcard blobs anyway.

[2022-07-29 00:57] #2061 closed

[2022-07-29 01:00] samchen61661 commented on #2034
Yeah, marked it as closed

[2022-07-29 01:00] #2034 closed

[2022-07-29 02:06] sffc commented on #1410
For 1.0, I want to save FZV-compatible bytes into the postcard files, but we don't need to use FZV yet. This lets us use it with a configurable feature in a compatible way.

[2022-07-29 04:06] aethanyc opened #2280 "Migrate ndarray dependency in segmenter to a release version"
We'll have to switch [ndarray dependency](
https://github.com/unicode-org/icu4x/blob/c73d122c1ffd03fd7b126d7ea41bc7f972106e0f/experimental/segmenter/Cargo.toml#L38) in segmenter to a release version in order to publish `icu_segmenter`. The release must contain Makoto's fix in https://github.com/rust-ndarray/ndarray/commit/31244100631382bb8ee30721872a928bfdf07f44.

@sffc suggests we upload ndarray

[2022-07-29 07:02] #2101 closed

[2022-07-29 15:07] sffc commented on #2259
I added one more small bullet point about the `symbols` module (CC @robertbastian)

[2022-07-29 16:17] sffc opened #2281 "Update tutorials for 1.0 and automate testing where possible"
The tutorials in files such as "intro.md" are woefully out of date. We should make sure they are updated for 1.0, and also automate testing as much as possible, e.g. by moving code samples into a module such as `icu::tutorial` and using docs tests.

[2022-07-29 16:17] sffc commented on #1896
Cool, thanks for confirming. I opened https://github.com/unicode-org/icu4x/issues/2281 to track tutorial updates for 1.0 (surprised we didn't already have an issue for that).

[2022-07-29 16:17] #1896 closed

[2022-07-29 17:03] #211 closed

[2022-07-29 17:09] #2145 closed

[2022-07-29 17:31] younies commented on #1960
After merging this PR: https://github.com/servo/unicode-bidi/pull/80, we can close this issue.

[2022-07-29 18:03] younies commented on #1985
@sffc , yes, I am working on it

[2022-07-29 20:02] #1954 closed

[2022-07-29 22:34] sffc opened #2288 "AnyDateFormatter"
We currently have AnyDateTimeFormatter and AnyZonedDateTimeFormatter. We should also have AnyDateFormatter.

[2022-07-29 22:41] sffc commented on #1461
Documenting how to solve this:

1. Data paths change from `datetime/datesymbols@1/en-u-ca-buddhist` to `datetime/buddhist/datesymbols@1/en` or equivalently `datetime/datesymbols/buddhist@1/en`
2. Japanese and Japanext need to be separate calendar types
3. The CldrCalendar trait gets a method to return the correct data keys
4. Add a standalone method to map from AnyCalendarKind to the correct data

[2022-07-29 23:09] #2153 closed

[2022-07-29 23:22] Manishearth commented on #1771
I think this has been done

[2022-07-29 23:22] #1771 closed

[2022-07-30 00:03] #540 closed

[2022-07-30 01:37] #1857 closed

[2022-07-30 03:24] sffc opened #2292 "Optimize space for timezone variants"
Follow-up to https://github.com/unicode-org/icu4x/issues/1857

We should consider using `"std"` and `"dst"` instead of `"standard"` and `"daylight"`.

[2022-07-30 03:25] sffc commented on #2095
@Manishearth is "Utilities 1.0" the correct milestone for this issue?

[2022-07-30 03:26] sffc commented on #2129
@makotokato Can you work on this, after the other 1.0 issues are done?

[2022-07-30 03:27] sffc commented on #2155
@samchen61661 Feel free to work on this. If you can get it done by August 10 then we can most likely launch it in ICU4X 1.0.

[2022-07-30 03:29] sffc commented on #2239
@makotokato Is this an enhancement that can be done after 1.0, or does it affect the schema of the data?

[2022-07-30 03:30] sffc commented on #2254
@Manishearth Can you assign this issue to a milestone, such as 1.x Untriaged?

[2022-07-30 03:37] Manishearth commented on #2095
Yes, though to some extent whether or not this is fixable by then depends on upstream

[2022-07-30 05:30] CAD97 commented on #2095
I agree inasmuch as I also think `Box` being unique (rather, invalidating pointers when moved) is thoroughly unexpected in practice, and making [`-Zbox-noalias=no`](https://github.com/rust-lang/unsafe-code-guidelines/issues/326#issuecomment-1199170123) the normal behavior is what we should end up with.

Even in a future where `Box` *is* unique and retagging is recursive through fields, there *will

[2022-07-30 06:19] Manishearth commented on #2095
I'm happy to leave this open for tracking but a CI job is probably a good idea anyway

[2022-07-31 05:01] sffc commented on #2280
Can we try upgrading to 0.15.5?

https://github.com/rust-ndarray/ndarray/pull/1154#issuecomment-1200289864

[2022-07-31 05:02] sffc commented on #2280
@aethanyc Assigning this to you to try using the new version

[2022-07-31 05:13] sffc commented on #1960
No, this issue is not done until we also expose `reorder_visual` in the FFI. That is literally the title of the issue :)

[2022-07-31 05:29] sffc commented on #1983
I realized that this is a Utilities 1.0 issue, not an ICU4X 1.0 issue. I did half of the work in #2279 and I will do the other half at a later time.

[2022-07-31 05:59] sffc commented on #257
We have split symbols from patterns and date from time; this is sufficient for the first release. I would still like to explore even more-granular splitting, but there's no time in 1.0 and we should coordinate this with the Ideal Components Bag work.

[2022-07-31 06:02] sffc opened #2295 "Apply non_exhaustive lints for 1.0"
We already did much of this in https://github.com/unicode-org/icu4x/issues/383, but we forgot to add this to `boilerplate.md`, which means that several of the newly added component crates do not have the lint enforced.

We should add the lint to boilerplate.md and make sure all components (and providers) have it enabled.

[2022-07-31 13:49] younies opened #2297 "The behaviour of the overflow in `multiply_pow10`"
when I user use call `multiply_pow10` in `FixedDecimal` and an overflow happen, what shall we do:

1. Set the number to Zero
2. cut from the number (for example: if the number is `12345` and the user called `multiply_pow10` by `i16::MAX -3`, the resulted number will be `34500000000......`

[2022-07-31 16:18] Manishearth commented on #1960
Ah, I was under the impression Younies had done that too (from his comment) and I just hadn't seen the PR. Should have looked closer at the PR link!

[2022-08-01 05:14] #2130 closed

[2022-08-01 08:33] #2280 closed

[2022-08-01 17:09] makotokato commented on #2239
Yes, Han/Kanji and Hiragana is handled by dictionary.  But [UAX29's word segmenter spec](https://unicode.org/reports/tr29/#WB13)  is `Katakana × Katakana`. If using dictionary for Katakana, we have to modify spec or add something notes to UAX29.

[2022-08-01 17:40] makotokato commented on #2239
Han and Hiragana are done by https://github.com/unicode-org/icu4x/commit/7215608a0984a33439e43835de17a729a521bd51

[2022-08-01 18:26] mihnita commented on #2237
I think that https://github.com/unicode-org/icu4x/issues/173 mixes 2 concerns:
1. The getters for Requested / Valid / Actual locale
2. The first comment in #173 (from Zibi) about Requested / Available / Last Fallback / Resolved Locales

The second one is the one addressed by the _"Design doc: locale fallback and negotiation #1237"_

The first one I remember being discussed in detail in a meeting.

[2022-08-01 22:16] sffc commented on #1410
At a high level, there are 3 paths:

1. A feature flag somewhere (either zerovec or icu_provider) that changes ALL VZV impls to use fast mode or slow mode, with appropriate metadata added to data requests
2. Add a metadata byte to VZV so that the same data files can power both the fast and small VZV impls, but size-concisous consumers can build their own small files
3. Make VZV fallible and generi

[2022-08-01 23:21] sffc commented on #1410
Decision: pursue option 3. For 1.0, use 16-bit VZVs for most of ICU4X, and 32-bit VZVs for the parts that need it. Extend this to other types of VZVs down the road.

[2022-08-02 03:42] #1879 closed

[2022-08-02 04:06] #769 closed

[2022-08-02 04:58] Manishearth opened #2308 "full-datagen task should be runnable from cargo-make"
We have a `cargo make ci-job-foo` for every CI job foo, so that whenever something fails it's easy to reproduce locally. This includes CI jobs that do special things like integrate with GHA's Clippy annotations (we just replicate what the action does as closely as possible).

We should have this for full-datagen, since it's possible for that job to fail and it's kinda annoying to reproduce otherwi

[2022-08-02 11:01] #1985 closed

[2022-08-02 17:29] sffc commented on #2214
@sven-oly will take a look at this.

[2022-08-02 17:56] Manishearth opened #2310 "#[derive(ULE, VarULE)]` could be more useful for simple wrapper types"
In general we nudge people towards `#[make_ule]` and `#[make_varule]`, but there is a small use case for the direct derives: when you're making a simple wrapper type around an existing ULE or VarULE type.

It would be nice if `#[derive(ULE)]` could be asked to generate `AsULE` and `ZeroMapKV` implementations, and `#[derive(VarULE)]` could be asked to generate `Serialize`, `Ord` (etc), and `ZeroMap

[2022-08-02 20:16] Manishearth opened #2312 "VarZeroVecFormat should be convenient to use with ZeroMap"
https://github.com/unicode-org/icu4x/pull/2306 adds VarZeroVecFormat, however to use it with ZeroMap you have to manually write a ZeroMapKV implementation with a wrapper type.

We should instead add support for `FormatSelector<T: VarULE, F: VZVFormat>` which implements ZeroMapKV with the same pattern used for normal VarULE types.

One tricky thing is that currently ZeroMap types use `&K` and `&V`,

[2022-08-02 20:43] Manishearth commented on #1410
Followup: https://github.com/unicode-org/icu4x/issues/2312

[2022-08-02 20:44] Manishearth commented on #1410
Once #2306 lands we should probably split this into followups about:

 - Moving ZeroMap to SelfType
 - #2312
 - Fallibility in VZV construction (and ZeroMap?)
 - Flex/Auto

[2022-08-02 20:52] sffc opened #2313 "Rename Japanext to JapaneseExtended"
See https://github.com/unicode-org/icu4x/pull/2311

[2022-08-02 20:54] sffc opened #2314 "Clean up collator code and tests with feedback from #2296"
There are some unresolved comments on #2296. We should clean up the code according to those comments.

[2022-08-02 21:13] sffc opened #2315 "Constructors in the `icu_properties` crate"
The constructors for `icu_properties` don't immediately follow from the decision in #2136.

We have things like

[code]

Questions:

1. Do we rename the function `try_get_...`?
2. How do we extend it to AnyProvider/BufferProvider?

For example, should our names end up being like this?

- `try_get_script_with_extensions_unstable`
- `try_get_script_with_extensions_with_any_provider`
- `try_get_scrip

[2022-08-02 21:14] aethanyc commented on #1379
Yes, for those languages having both dictionaries and lstm models, enabling "lstm" feature disables relevant dictionaries, but note that we always want to load CJ dictionary with "lstm" enabled because there's no lstm model for CJ. See

https://github.com/unicode-org/icu4x/blob/bebc548ce9f09a6b2639c39dcc40284acfc6cfc8/experimental/segmenter/src/word.rs#L35-L57

Current public APIs and features loo

[2022-08-02 21:17] aethanyc commented on #2259
The [`symbols` module](https://unicode-org.github.io/icu4x-docs/doc/icu_segmenter/symbols/index.html) is used in datagen.

https://github.com/unicode-org/icu4x/blob/1d4c6a146fb6fc88efb341a20cb06dc0dc2d42fd/provider/datagen/src/transform/segmenter/mod.rs#L17

I wonder whether it is possible to hide it from `icu_segmenter`'s online doc, but let it remain accessible from `icu_datagen`?

[2022-08-02 21:24] sffc commented on #2259
Yeah, okay, let's mark the module as `#[doc(hidden)]` (at the point it is `pub use`'d in lib.rs)

[2022-08-02 22:04] echeran opened #2319 "diplomat-gen should fail on the wrong version of Diplomat"
It is possible to run `cargo make diplomat-gen` with an out of date version of Diplomat, and thereby get a misleading & inaccurate diff.  (When Diplomat is out of date, you need to re-run `cargo make diplomat-install`.)

Instead, `diplomat-gen` should have a check for the version number before proceeding, and it should fail early if there is a problem.

One idea to implement this might entail addi

[2022-08-03 03:46] #2214 closed

[2022-08-03 06:56] sffc opened #2324 "Put date skeletons behind a feature"
We don't currently hide the unfinished date skeletons APIs behind a feature. We should add an "experimental" feature and put them there.

[2022-08-03 14:03] sffc commented on #1662
This is superceded by #2136. See #1874 for a discussion of this topic for ICU4X 2.0.

[2022-08-03 14:24] sffc commented on #2241
The string parsing APIs can be found here

https://unicode-org.github.io/icu4x-docs/doc/icu_datetime/mock/index.html

[2022-08-03 14:53] sffc commented on #2136
I reviewed all component and property APIs. To-do list:

- [ ] AnyCalendar: make `&provider` the first argument
- [ ] Japanese and JapaneseExtended: add Any/Buffer
- [ ] JapaneseEraStyle: see if enum can be deleted
- [ ] Collator: add Any/Buffer
- [ ] DatagenProvider: implement AnyProvider directly
- [ ] DateTimeFormatterOptions: Remove hour cycle preferences
- [ ] TimeZoneFormatter: add Any/Buffe

[2022-08-03 15:46] Manishearth commented on #2315
No strong thoughts, having three does make some sense.

[2022-08-03 16:00] #1461 closed

[2022-08-03 16:00] #2313 closed

[2022-08-03 16:00] #1571 closed

[2022-08-03 16:18] sffc commented on #2315
Discussion with @echeran:

- `try_load_...` makes sense because you are not actually "getting" something that behaves like the properties data structure, because you need to call `.as_borrowed()`
- Given the design around `PropertyCodePointSetV1`, we actually probably don't need the any/buffer versions of these functions

[2022-08-03 16:32] sffc commented on #2315
Two more thoughts:

1. We already use the word `load` in places in ICU4X to mean a fallible function, so maybe `try_load` is redundant and it should just be `load`
2. ScriptWithExtensionsV1 does not have the non_exhaustive data struct like most of the other properties; we may want to have the any/buffer functions just for that one

[2022-08-03 16:42] Manishearth commented on #2180
Fixed by #2298

[2022-08-03 16:42] #2180 closed

[2022-08-03 16:42] Manishearth commented on #1410
Polish-blockers done in #2306

[2022-08-03 21:07] #2315 closed

[2022-08-04 10:26] mvtec-bergdolll commented on #2095
Honest question, why build and maintain Yoke, when solutions like [`Ouroboros`](https://github.com/joshua-maros/ouroboros) and [`self_cell`](https://github.com/Voultapher/self_cell) already exist? For example `self_cell` passes it's tests with `-Zmiri-retag-fields`.

[2022-08-04 12:04] Manishearth commented on #2095
@mvtec-bergdolll This is not the relevant place to ask such a question (ask on the currently active reddit thread instead?), but the answer basically is: those crates are internal to a type and do not support the use cases here. The miri issues are largely due to an area of UB that is still being pinned down so I'm generally happy with waiting a bit until we have more concrete rules and writing mi

[2022-08-04 14:12] mvtec-bergdolll commented on #2095
@Manishearth well I'd argue a question why a project is using a hand rolled Vec instead of the std one is a valid question on an issue with said custom Vec causing problems. Can you provide an example how they wouldn't work for you use case, because I can't come up with one based on your explanation. Without HKTs I don't see how you could be generic over them, which is the only limitation I can th

[2022-08-04 16:18] CAD97 commented on #2095
@mvtec-bergdolll `self_cell` allocates its cart on the heap as part of `self_cell!`, so you can have e.g. `self_cell!(u64, &'self u64)`. `yoke`'s primary purpose is for zero-copy deserialization, thus introducing an allocation here isn't permissable.

Any crate which does what zero-copy (actually: zero-alloc) yoking requires boils down to `(impl StableDeref, Ref)` and will run into this exact issu

[2022-08-04 17:53] Manishearth commented on #2095
@mvtec-bergdolll Firstly, that's a false equivalence; there is no "std" self-referential thing, `self_cell` didn't even exist when we designed this crate. Secondly, the issues in this thread are issues faced by the general space of self-referential types in Rust, and even if those crates are UB-free _today_ (which I'm skeptical of) that does not necessarily mean they will be UB free once the exact

[2022-08-04 21:29] #1856 closed

[2022-08-04 21:52] sffc commented on #984
@nordzilla Can you clarify what is the expectation from this issue? We already support generic location format. What else needs to be done?

[2022-08-04 22:53] echeran opened #2342 "Cleanup for icu_collections"
- [ ] Replace usages of `icu_collections` with `icu::collections`
- [ ] Refactor bench code across the different modules to be in a single `benches` directory at the root of the crate

[2022-08-04 23:08] #767 closed

[2022-08-04 23:41] #2292 closed

[2022-08-05 08:03] mvtec-bergdolll commented on #2095
@Manishearth sorry for the perceived derailing of the discussion. I've personally seen too many projects and blog posts talk about their own version of self-referentiell structs in Rust, and more often than not their reason for going with something custom did not hold up to closer scrutiny, nor was their code sound. Maybe it's my reading comprehension and I missed some obvious part, I didn't under

[2022-08-05 13:50] robertbastian opened #2347 "Docs: some links for inlined re-exports are broken"
E.g. [`icu::list`](https://docs.rs/icu/1.0.0-beta1/icu/list/index.html) has broken crate-internal (`[Parts]`) and crate-external (`[Writeable]`) links. The latter is an easy fix, we need to add a `writeable` dev-dependency, the former I need to look into.

[2022-08-05 14:00] robertbastian commented on #2347
Actually, `Part`s is also a crate-external link, it's `writeable::Part`. Adding the `dev-dependency` to the meta-crate fixes the `Part` and `Writeable` links, but not the `writeable` link to the _crate_.

[2022-08-05 14:28] robertbastian commented on #2319
I think I've discussed this with @Manishearth a while ago, this would only work for published versions. The tool cannot know the Git hash it was built from.

[2022-08-05 14:31] robertbastian commented on #2308
`full-datagen` uses GH Actions infrastructure that we cannot replicate locally. `cargo make full-data` is _almost_ the same, the difference is how the downloading and caching happens (in the binary itself). We can point `cargo make ci-job-full-datagen` at that, but it won't be identical.

[2022-08-05 14:51] Manishearth commented on #2319
Also it's quite often that I want to run diplomat-gen with a different version of Diplomat. We could add a warning, but for now we have the CI job.

[2022-08-05 14:51] Manishearth commented on #2308
That's totally fine, it should _mostly_ be the same. We have something ismilar for clippy.

[2022-08-05 14:54] sffc commented on #2308
We do want the CI job to cache the downloaded CLDR and ICU data, which I think is why we wrote it separately

[2022-08-05 14:55] sffc commented on #2319
Can `diplomat-tool --version` output the hash it was built from?

[2022-08-05 14:58] Manishearth commented on #2319
We might be able to hack something in the build script? Tricky though.

[2022-08-05 14:59] Manishearth commented on #2308
Yeah, I'm aware, I just want there to be some weak correspondence so that we can approximate every CI job locally with a ci-job-foo command, in case stuff breaks. If it doesn't reproduce perfectly that's fine, but for 99% of the test failures we should not have to go spelunking in the GHA file and manually replicate its steps :smile:

[2022-08-05 15:24] sffc opened #2348 "Make docs for the 3 data provider constructors super clear"
From @zbraniecki and @robertbastian

The three types of provider constructors are documented here:

https://unicode-org.github.io/icu4x-docs/doc/icu_provider/index.html#icu4x-constructors-and-data-versioning-policy

I have a macro that generates the `_with_any_provider` and `_with_buffer_provider` constructors. That macro should include more details in the doc strings of those generated functions

[2022-08-05 15:27] robertbastian commented on #2308
So yeah, just an alias for `full-data`

[2022-08-05 18:18] robertbastian commented on #2348
Roughly:

_unstable: This function is unstable in the way that its data provider bounds are not guaranteed to be stable across even minor releases. If you don't need this stability (i.e. because you're using BakedDataProvider), prefer this as it has the best performance. Otherwise see buffer/any.

_buffer: This version of this function accepts BufferProvider, which comes with additional deserializ

[2022-08-05 19:33] echeran commented on #2319
Ah interesting. The use case for me that prompted the issue was that my PR branch was failing the FFI job, and that re-running `cargo make diplomat-gen` (as [error message says](https://github.com/unicode-org/icu4x/blob/main/tools/scripts/ffi.toml#L41)) wasn't enough was because the version of Diplomat that I had installed locally was different from what was the latest in the repo.

Maybe that can

[2022-08-05 21:14] Manishearth commented on #2319
Yeah, we should also update that error!

[2022-08-06 06:02] sffc commented on #2348
There is no additional overhead relative to if you are already using a BufferProvider and feeding it to `_unstable`.

There is no dynamic dispatch. We are downcasting a `dyn Any` to a concrete type, which requires checking the `TypeId`, but not traversing any vtables (I think). The code in the standard library is literally just

[code]

I don't understand this sentence

- I assume you mean `DataPr

[2022-08-06 06:12] sffc commented on #2348
How about this:

[code]

[2022-08-06 22:16] sffc commented on #2151
There was an unconference session about integer overflow at RustConf, which largely validated the idea that saturating operations are a reasonable approach here.

[2022-08-06 22:38] sffc opened #2351 "Finalize Design around Data Safety"
I hosted an unconference on data safety at RustConf (notes [here](https://docs.google.com/document/d/1PtAndw2w6CmVRxj7_sL6pxFLxYmSR4Lv5fvxsNhSKYE/edit)).

I would like to write a document establishing the following:

1. _Whereas_ it is rare to be 100% confident about the safety of your data. As a thought experiment, if you were 100% confident, you could use `get_unchecked` and other unsafe operati

[2022-08-08 19:04] echeran opened #2352 "Code example in root Readme doesn't work"
@sven-oly was trying to copy-paste the example code in root `README.md`, and together we couldn't get it to work.  Plus, it's using an old version number (`0.2`).

We compared it to [the example in the root of the `icu` component](https://unicode-org.github.io/icu4x-docs/doc/icu/index.html#example), which was similar yet noticeably different.

[2022-08-08 19:09] Manishearth commented on #2351
Agreed.

[2022-08-08 20:03] sffc commented on #2352
Yeah, don't trust any code samples that are not from docs.rs until we have everything updated (which should happen in advance of the 1.0 release)

[2022-08-08 20:54] #2319 closed

[2022-08-09 21:43] sffc commented on #2240
Duplicate of #2127

[2022-08-09 21:43] #2240 closed

[2022-08-09 21:54] sffc commented on #2155
Discussion:

- It's good to be flexible in JSON parsing, so it's good to support both the current minutes since epoch and the upcoming ISO string, so we don't need to consider this issue a 1.0 data stability blocker
- We should consider this issue blocked on #2127

[2022-08-09 21:59] sffc commented on #2127
Note: currently we have https://unicode-org.github.io/icu4x-docs/doc/icu_datetime/mock/fn.parse_gregorian_from_str.html

We should start with a design doc for this. We likely want to end up with a parser type named something like `IetfDateTimeStringParser` that is able to support the whole grammar.

[2022-08-09 22:00] sffc commented on #2127
Question: do we want to have specific, stricter parsers for each individual type, as well as the fully-featured one conforming to IETF Sedate?

[2022-08-09 22:19] sffc opened #2357 "Clean up AnyCalendar constructors from locale"
Failing to turn a `Locale` into a `AnyCalendarKind` shoudn't fail to create an AnyCalendar; we're supposed to fall back to the locale's default. That is all code that should ideally live in Rust, not in the FFI wrapper layer or in the C++/JavaScript calling code.

I guess I would expect a function like `AnyCalendar::try_new_for_locale_unstable(&provider, &locale)`, along with `AnyCalendar::try_new

[2022-08-09 22:53] Manishearth commented on #2357
This is also related to https://github.com/unicode-org/icu4x/issues/2038

[2022-08-09 22:53] Manishearth commented on #2038
Related: https://github.com/unicode-org/icu4x/issues/2357

[2022-08-09 23:33] aethanyc commented on #1379
Close this issue assume that we are good with the current features and API.

[2022-08-09 23:33] #1379 closed

[2022-08-10 07:52] robertbastian commented on #2348
Yeah it's not technically dynamic dispatch, but still it runtime-dispatches between many `match` cases, which has a cost, and then has some `Any` overhead as well.

I'm aware. That's why I'm saying that e.g. `BlobDataProvider` should not implement `DataProvider` directly. Users can call `as_deserializing()` to pass it to `_unstable`, while having the deserialization and it's overhead explicit.

Im

[2022-08-10 07:54] robertbastian commented on #2348
To clarify I'm advocating against the `icu_provider::impl_auto_deserializing!` macro.

[2022-08-10 16:37] robertbastian opened #2359 "Add lint for transitive panics"
Blocked on https://github.com/rust-lang/rust-clippy/issues/8184

[2022-08-10 18:10] QnnOkabayashi opened #2360 "Wasm Demo Frontend Framework"
The [wasm demo](https://github.com/unicode-org/icu4x/tree/main/ffi/diplomat/wasm/wasm-demo) is currently written in vanilla TypeScript. This makes it difficult to add new demos to the webpage, since all the HTML and TS pieces have to be added manually, and rules for what to update when an input is updated are encoded by hand.

A frontend framework like Svelte would simplify this process, and make

[2022-08-11 10:27] hsivonen opened #2362 "Consolidate two auxiliary tries to the main NFD trie"
The trie for the canonical combining class lives in uprops due to thinking that it's a property so it belongs there. However, this results in lookups from two tries for the same character: both from the recursive decomposition trie and the canonical combining class trie. As it turns out, it's easy to bake the values of the latter into the former. This applies to all normalization forms and collati

[2022-08-11 10:33] zbraniecki commented on #2362
Thanks for investigating it Henri!

My initial read is that, while it is late, I would support such change before 1.0 stable. While beta is intended to cool down data schemas, the tradeoff here is worth an exception and the value of having a single consolidated data with smaller payload in 1.0 and forward is the right long term value proposition.

[2022-08-11 11:29] hsivonen commented on #2362
I have still a bit of tweaking to do in order to put the lowest non-passthrough code point in data, but to see the changes involved here's [my ICU branch](https://github.com/hsivonen/icu/commits/onetrie) and [my ICU4X branch](https://github.com/hsivonen/icu4x/commits/onetrie).

[2022-08-11 17:43] sffc commented on #2362
Discussion regarding CCC:

- @sffc - Most of the map properties are being pre-processed anyway
- @echeran - The macros cause all of these properties to be processed uniformly
- @hsivonen - I'd want to keep `pub struct CanonicalCombiningClass(pub u8);`, even if we put the map getters behind a feature
- @aethanyc - fwiw, East Asian Width is used when we process [line breaking data in datagen](https:

[2022-08-11 17:45] sffc commented on #2362
Conclusion on the rest of the issue: OK to merge the passthrough and CCC data into the main NFD trie before 1.0 final.

[2022-08-11 17:51] hsivonen commented on #2221
WONTFIX. See #2362 instead.

[2022-08-11 17:52] #2221 closed

[2022-08-11 18:02] sffc commented on #2241
- @sffc - These functions are bad because they are not correct for parsing ISO strings. There are valid ISO strings that people can pass to these functions which will produce strange or unexpected behavior. Further, it is not correct to parse ISO strings to a Gregorian DateTime; they should at least pass through the ISO calendar first.
- @sffc - I observe that we are not using these except in a co

[2022-08-11 18:16] sffc commented on #2217
Discussion:

- @echeran - We support multiple backends for set data, so this can be an additive change
- @hsivonen - The sort is actually faster, based on evidence from Firefox
- @echeran - I assume that there's additional space to get the faster performance, like a space-time tradeoff?
- @hsivonen - This has no size overhead. It has the same length of array, but the items are arranged in a differ

[2022-08-11 18:19] sffc commented on #2239
My understanding is that this is fully in the datagen crate (change the outputted rule tables, not not the code that reads from the rule tables). This is a good 1.x issue.

[2022-08-11 18:21] sffc commented on #2239
Good first issue for someone interested in coming up to speed on rule-based segmentation.

[2022-08-11 18:21] sffc commented on #2308
Action: create an alias.

[2022-08-11 18:31] sffc commented on #2357
LGTM on the proposal above. Fix this at the same time as #2038

[2022-08-11 19:00] #2308 closed

[2022-08-12 13:55] hsivonen opened #2372 "Turn off redundant property maps for 1.0"
[From the meeting:](https://github.com/unicode-org/icu4x/issues/2362#issuecomment-1212291138)

This issue is for tracking the `"experimental"` and `"datagen"` switches for these.

[2022-08-12 13:56] hsivonen commented on #2362
Filed as #2372

[2022-08-12 16:20] markusicu commented on #2362
This makes me feel good about the ICU normalization data using one trie for all features including ccc :-)
https://icu.unicode.org/design/normalization/custom#h.vcpq2uc95895

[2022-08-12 20:27] #2038 closed

[2022-08-12 20:27] #2357 closed

[2022-08-12 23:42] #2051 closed

[2022-08-14 14:47] ajtribick opened #2375 "Missing std feature in icu_collator"
The implementation of `std::error::Error` on `CollatorError` is conditional on the `std` feature, but this is not declared in the crate's `Cargo.toml` file so there's no way to switch this on.

[2022-08-15 12:53] robertbastian commented on #1281
Fixed by #2021

[2022-08-15 12:53] #1281 closed

[2022-08-15 14:54] hsivonen commented on #2056
Existing usage in the [collator](https://github.com/unicode-org/icu4x/blob/5f6dd9d0982d4170d44cf58ed9cb0838e785c40b/components/collator/src/elements.rs#L148-L180) and the [normalizer](https://github.com/unicode-org/icu4x/blob/5f6dd9d0982d4170d44cf58ed9cb0838e785c40b/components/normalizer/src/lib.rs#L240-L272).

[2022-08-16 15:25] Manishearth opened #2379 "Support more than just Script in CodePointMap ffi (ICU4XCodePointMapData16)"
Curently CodePointMap's FFI hardcodes Script, we should support any u16 property in ICU4XCodePointMapData16 and also support ICU4XCodePointMapData8.

[2022-08-16 21:14] sffc opened #2383 "Allow icu_testdata's BakedDataProvider to be broken down by component and experiment"
Currently icu_testdata's BakedDataProvider is monolithic and pulls in all ICU4X components, including experimental ones. The feature is generally disabled because of the compile times. Both of these issues could be resolved if we made each part of BakedDataProvider be feature-gated. For example, `"icu_datetime"` could dev-depend on `"icu_testdata/icu_datetime"` (and whichever other components it n

[2022-08-16 23:32] #2324 closed

[2022-08-17 07:50] hsivonen opened #2384 "Measure the usefulness of check against decomposition_passthrough_bound"
`Decomposition::delegate_next_no_pending()` checks the character against  `decomposition_passthrough_bound`. Measure if this is actually an optimization in the absence of a supplement: I.e. measure if the trie bails out quickly on its own.

[2022-08-17 07:54] hsivonen opened #2385 "Consider deferring trie lookup for characters below U+0300 in the NFC iterator case"
#2378 optimizes away trie lookups when NFC passthrough succeeds. However, that's only with contiguous buffers. With the iterator formulation, characters that are equal or above `decomposition_passthrough_bound` but below `composition_passthrough_bound` could potentially avoid a trie lookup, but currently a trie lookup is made anyway.

Figure out if there's a reasonably-manageable way to defer the

[2022-08-17 08:00] hsivonen opened #2386 "Refactor the upcoming buffer in the collator"
`CollationElements::upcoming` currently holds `CharacterAndClassAndTrieValue`. Logically its last element (when not at the end of the stream) needs to hold `CharacterAndTrieValue` (which currently doesn't exist in the collator but exists in the normalizer) and the other elements can be `CharacterAndClass`. (When we have `CharacterAndClass` but want `CharacterAndTrieValue`, we can synthesize the tr

[2022-08-17 11:58] #2183 closed

[2022-08-17 20:18] sffc opened #2391 "Allow expect() and panic!()"
Previous discussion in #1363

We have the global lints that prevent us from panicking in places we don't want to panic:

[code]

We can suppress these on a line-by-line basis, with the idea that those places are documented properly.

Since both `.expect("...")` and `panic!("...")` are self-documented, maybe we shouldn't include them in this lint. Other panicking macros already not included by this

[2022-08-17 20:41] Manishearth commented on #2379
So one  thing I'm not sure about is how we should handle getters to the map types.

I see that there are two ways of doing this:

[code]

In both cases the user would be responsible for ensuring they call the right one.

A third option (option C) is to have different types entirely.

A is kinda nice in that JS won't be initializing a string each time you do a get, and you can use fast integer comp

[2022-08-17 22:02] sffc commented on #2379
My mental model has been that over FFI we return integers, not newtypes like we do in Rust.

These can ideally be paired with static constants, which we can add once Diplomat supports them.

In TypeScript, for example, you should write something like this at the call site...

[code]

[2022-08-17 22:04] Manishearth commented on #2379
In the meantime when we don't support static constants, what ought we do?

[2022-08-17 22:05] Manishearth commented on #2379
One thing I have kinda wanted is the ability to ask an enum in diplomat to be stringy or constanty

[2022-08-17 22:07] sffc commented on #2379
These are not enums; they are newtypes, because they can change at any time (with new Unicode releases), and there's no portable way to do non-exhaustive enums.

Without static constants, people just have to get the constant integer from somewhere else. Maybe we publish a wiki page with all the numbers.

[2022-08-17 22:08] sffc commented on #2379
IIRC, the other workaround for static constants was to have a bunch of static functions instead.

[2022-08-17 22:09] sffc commented on #2379
Also, another way people can get the constants is to `#include <unicode/uchar.h>` from ICU4C. You can get the constants from the header file without needing to link the library. I've done similar things in the past and I may do this in Skia and Harfbuzz.

[2022-08-17 22:10] Manishearth commented on #2379
Alright, integers it is.

I didn't realize the values are "stable" across libraries

[2022-08-17 22:10] sffc commented on #2379
Yeah, when introducing the properties values, it was a design consideration to use the same values that ICU4C uses, to make it more of a drop-in replacement. @echeran can confirm.

[2022-08-17 22:35] Manishearth commented on #2379
Sounds good. This makes the enum code I was working on in diplomat less important but I might as well land it.

[2022-08-17 22:40] Manishearth commented on #2379
(https://github.com/rust-diplomat/diplomat/pull/222)

[2022-08-18 10:30] robertbastian commented on #2391
`panic!()` can be called without a message as well. I think we should forbid `panic!`, and use more specific macros like `unreachable!` which are self-documenting. Most unannotated `panic!`s seem to actually be `unreachable!`s.

For unwraps we should do `.unwrap()` as the unreachable equivalent, i.e. when the presence is obvious from immediate context. Using `expect` there would definitely be a wa

[2022-08-18 15:11] robertbastian commented on #1945
@sffc can this be closed?

[2022-08-18 15:21] sffc commented on #1945
@robertbastian Ideally I think I'd like to see the report card checked-in to source control and/or run as part of CI. The current status is that the tool exists but there aren't clear instructions on how to use it.

[2022-08-18 15:43] Manishearth commented on #2391
I was under the impression that the primary purpose of this was to reduce panics, not just for getting them to be documented.

I think it's good to have pressure to avoid panics, especially since Rust panics in a library aren't very fun for whoever is using the library.

I think a pressure towards preferring unwrap over expect might be good, but I'm not sure if we should do it very strongly. Defin

[2022-08-18 15:53] Manishearth commented on #2379
Yeah I remember that discussion now.

[2022-08-18 15:56] sffc opened #2402 "Don't fail on mismatched locale calendar in DateTimeFormatter"
Follow-up to https://github.com/unicode-org/icu4x/pull/2398#discussion_r948553874

[2022-08-18 15:57] #2188 closed

[2022-08-18 16:18] sffc commented on #2391
Let's go through the hundreds of TODO(#1668) still in the repo and see if we can agree on a reasonable path forward:

https://github.com/unicode-org/icu4x/search?q=1668

[2022-08-18 17:33] ajtribick commented on #2375
Fixed in 610bca6e0fcee4f48f831c859ed44bba32cac881

[2022-08-18 17:33] #2375 closed

[2022-08-18 17:38] sffc commented on #1668
@robertbastian will clean up low-hanging fruit, and create child issues for each component

[2022-08-18 17:52] sffc commented on #2402
Options:

1. Silently ignore the locale calendar
2. Ignore in release with debug assertion
3. Return an error all the time

- @zbraniecki - It is hard to debug since behavior is different between DateTimeFormatter and TypedDateTimeFormatter
- @robertbastian - If we output a warning, e.g. with a debug assertion, what's the action for the developer?
- @zbraniecki - Ideally there's some opt-in to ign

[2022-08-18 18:17] sffc opened #2404 "Add lib.rs example in Collator component"

[2022-08-19 07:40] sffc opened #2409 "Mark all experimental crates, modules, and types clearly in docs"
Since the docs don't clearly define what is behind which features, we should do a bit more work on our end. I'd like to suggest that everywhere a crate, module, or struct/enum is experimental, we mark it clearly in the docs string. This should include modules and structs/enums that are nested inside experimental modules and crates.

We don't need to be completely perfect, but we should hit all the

[2022-08-19 07:53] sffc commented on #2348
@zbraniecki Can you weigh in here?

[2022-08-19 08:05] sffc commented on #2383
For crates with experimental features, here is what I propose

1. Add a testdata feature called e.g. `icu_datetime_experimental` (optionally remove the "icu_" prefix if you do so for the other features)
2. Tests in `icu_datetime` that need data hidden behind `icu_testdata/icu_datetime_experimental` should use the serde data instead, until https://github.com/rust-lang/cargo/issues/1596 is fixed.

[2022-08-19 11:36] eggrobin commented on #1267
@sffc

Adding `CompactDecimal` and `ScientificDecimal` probably fits into the original scope of this issue (which saw that as an extension to `FixedDecimal` instead).

It no longer blocks 1.0 though, as discussed.

[2022-08-19 15:58] Manishearth commented on #2409
Works for me.

[2022-08-19 15:58] Manishearth commented on #2409
I think we should do both the emoji and the paragraph (at the end of the first section of docs)

[2022-08-19 16:53] #2379 closed

[2022-08-19 23:17] sffc opened #2412 "Improve docs of icu_properties::bidi"
Feedback from @markusicu:

[2022-08-19 23:20] sffc opened #2413 "Evaluate consistency and naming of char vs u32 methods in icu_collections and icu_properties"
We inconsistently name methods in the various properties and collections classes that deal with char vs u32. Examples: `contains(char)`, `contains_32(u32)`, `get(char)`, and `get_u32(u32)`, but sometimes it is `get(u32)`. And the `get_u32` name sounds like it is returning a `u32`, similar to `get_ule`, when in fact it is an overload of the `get` method.

Feedback from @markusicu.

Thoughts?

- [ ]

[2022-08-19 23:21] markusicu commented on #2412
If you want to make the logical order of the characters visible, you could use hex escapes, or put each character on its own line.

[2022-08-19 23:21] sffc opened #2414 "Fix typo: to_code_point_invesion_list"
There is a function `to_code_point_invesion_list`. Fix the typo.

[2022-08-19 23:22] sffc opened #2415 "Collator: why are the options not a bag?"
Most of our options are plain structs with public fields, as the style guide says. However, the collator options have getter/setter methods. Why? Can we fix it before 1.0?

CC @hsivonen

[2022-08-19 23:23] markusicu commented on #2413
I think the contains overloads work well.
Consider changing get_u32 to get_for_u32 or get_from_u32.
If a class/trait only ever deals with u32 and not char, then get(u32) should be fine.

[2022-08-19 23:24] sffc opened #2417 "Hide fields of certain structs?"
The fields of the following structs are public. They need to be public for serialization purposes, but should we hide the fields from the docs?

- Char16Trie
- ScriptWithExtensions
- possibly others

Thoughts?

- [ ] @zbraniecki
- [ ] @Manishearth

[2022-08-19 23:26] sffc opened #2418 "Improve collator docs"
Improve collator docs in the following ways:

- [ ] Add example of how locale overrides Strength::Tertiary
- [x] Use the language "potentially ill-formed" and "well-formed" instead of "potentially-invalid" and "potentially-value"
- [x] Fix the utf8 function to say "potentially ill-formed" (it is incorrect currently)

CC @echeran @hsivonen

[2022-08-19 23:27] sffc opened #2419 "Hide DateDuration and all things having to do with it"
There were a lot of questions involving the shape of DateDuration that came from the API review with @markusicu. We should hide it or put it behind an experimental feature for ICU4X 1.0.

Some of the comments included:

- DateDuration::new is unclear about what the four arguments mean. Maybe new_ymwd?
- No mixed sign durations!
- Is .until() and .since() mixed up on the sign?
- .until(): date2 - d

[2022-08-19 23:30] sffc opened #2420 "Rename IncludedInAnyCalendar to IntoAnyCalendar"
Based on feedback from @markusicu. It would be more clear if the trait name corresponded to the methods.

[2022-08-19 23:32] sffc opened #2421 "Clean up the week_of module"
There are a variety of cleanups that should be done in the week_of module, including:

- week_of: sclarify the docs since this module appears to support both month and year?
- simple_week_of: Does anyone actually need this? It's wrong for the ISO calendar.
- At least add an example to week_of.
- Previous year: is it possible to get week 54?

[2022-08-19 23:33] sffc opened #2422 "Fix up TimeVariant"
From review with @markusicu:

- TimeVariant should be named ZoneVariant perhaps?
- Needs more docs
- Explain how we fit the CLDR identifiers into 2 chars?

[2022-08-19 23:34] sffc opened #2423 "maybe_set_metazone: change order of arguments?"
It takes a date and then the calculator. Probably the calculator should be first, since it is the constant state, and the variable arguments come later.

[2022-08-19 23:35] sffc opened #2424 "CustomTimeZone: remove new() method and use exhaustive struct?"
We shouldn't need `new()` with opaque arguments when we can exhaustively construct it.

[2022-08-19 23:36] sffc opened #2425 "Add crate-level example in the Time Zone crate"
There should be a crate-level example that shows how to set up a custom time zone for formatting.

[2022-08-19 23:38] sffc commented on #2412
Yeah, this is what we should do. I think maybe it used to be that way, until we auto-formatted it. We can suppress the auto-formatting by putting `//` at the end of each line.

[2022-08-19 23:52] Manishearth commented on #2417
Do they need to be public for serialization purposes, or databake purposes?

But yeah it should be fine to hide.

[2022-08-19 23:53] Manishearth commented on #2413
I think `get_from_u32` might be good yeah

Though I'm skeptical we should have these in the first place, I guess. it's easy enough to `as u32` the char.

[2022-08-20 03:21] #2422 closed

[2022-08-20 03:45] sffc commented on #2413
Concretely, the classes and functions in question are

- CodePointInversionList: contains, contains_u32
- CodePointSetDataBorrowed: contains, contains_u32
- CodePointTrie: get, get_u32, get_ule
- CanonicalCombiningClassMap: get, get_u32
- CodePointMapDataBorrowed: get, get_u32
- PropertyCodePointMapV1 internal type: get, get_u32
- Char16TrieIterator: next, next_u16, next_u32

`CodePointTrie::get`

[2022-08-20 03:51] sffc commented on #2417
They are public for databake purposes, and also because the structs are `#[derive(Deserialize)]` (no internal invariants)

[2022-08-20 05:49] #2419 closed

[2022-08-20 05:49] #2420 closed

[2022-08-20 06:47] Manishearth commented on #2417
Ah, I don't think derive-Deserialize should imply public fields, FWIW, it's just clearer about invariants but we can achieve that with comments too. Ultimately, these types could have their internal structure change but keep the same serde impl, and the same is achievable with databake. So I'd prefer to have it be fully private with databake using a public or hidden constructor (and a comment abou

[2022-08-20 07:23] #2110 closed

[2022-08-20 16:39] Razican opened #2428 "Latest update to `tinystr` breaks compilation"
I just tried to do a `cargo update tinystr` in [Boa](https://github.com/boa-dev/boa), after doing a `cargo update` and seeing that the whole project fails to compile. It turns out that the v0.6.0 -> v0.6.1 update of tinystr breaks the compilation of multiple icu crates:

<details>
  <summary>Error log</summary>

[code]

</details>

Build environment:
 OS: macOS Monterey 12.5.1, on Apple Silicon
 `

[2022-08-20 22:15] sffc commented on #2428
It's possible that tinystr 0.6.1 unintentionally broke old ICU4X versions, which is unfortunate, and we should probably investigate. However, to get unblocked, please make sure you are using ICU4X 1.0.0-beta1 which definitely does work with the latest tinystr.

[2022-08-20 22:26] sffc commented on #2417
CC @robertbastian for visibility about impact to databake

[2022-08-20 22:36] sffc commented on #2417
(It would be nice to not have to do custom Bake impls everywhere)

[2022-08-20 22:48] markusicu commented on #2413
Note: The data structures are designed to map from *code points* to values. In Rust, supporting all code points requires u32 because char forbids surrogate code points.

Therefore, one could argue that the primary input should be a u32. Lookup via char would use a cast, or an "override".

----
`get_u32` *taking* a `u32` instead of *returning* a `u32` seems misleading. `getu` would be better.

[2022-08-21 08:17] Razican commented on #2428
Well, we could theoretically start using a beta version, but following semver, if the crate is backwards incompatible, the new version should be 0.7.0, not 0.6.1. A `cargo update` should never break a project.

Also, the "latest version" in crates.io is 0.6, since the beta versions are not considered as "latest", but if somebody uses the crates.io version, it won't work.

I would suggest to yank 0

[2022-08-21 21:02] sffc commented on #2428
We haven't been as careful as we should be with 0.x versions. I agree that we should fix this, but the workaround is to use the latest version of icu4x, which I'm saying is 1.0.0-beta1. I wish I could update that on crates.io but it doesn't allow that.

[2022-08-22 04:09] sffc commented on #2428
Okay I think I found the problem. The API of the `tinystr` crate itself didn't change between 0.6.0 and 0.6.1, but its dependency on `zerovec` was upgraded from 0.7 to 0.8. `icu@0.6.0` requires zerovec 0.7 impls, which are not provided in `tinystr@0.6.1` (zerovec 0.8 impls are provided instead).

I published `tinystr@0.6.2` that includes both zerovec 0.7 impls and 0.8 impls. I checked and it appea

[2022-08-22 04:12] sffc commented on #2428
@Manishearth Should we yank the broken release (0.6.1) or is it okay now that 0.6.2 is fixed?

[2022-08-22 04:29] Manishearth commented on #2428
We should yank the broken release, yes

[2022-08-22 04:31] Manishearth commented on #2428
Also I _think_ we did a breaking update for all utils in our beta but it may be worth doing it again for the release just in case (or I can do a quick audit).

[2022-08-22 12:26] hsivonen opened #2431 "Trie-based normalization passthrough is slower than in ICU4C"
[`norm_bench`](https://github.com/hsivonen/norm_bench) compares the normalization performance of ICU4X against other implementations, including ICU4C. The test strings are relative long (multiple memory pages). To avoid testing `rust_icu` buffer sizing logic, you need the [`rawdec` branch](https://github.com/hsivonen/rust_icu/tree/rawdec) of my fork of `rust_icu`.

With #2378 applied, English UTF-

[2022-08-22 14:13] Razican commented on #2428
I can confirm that tinystr 0.6.2 fixes the issues with icu 0.6. We will go for icu 1.0 as soon as it's released :) a bit earlier probably to provide some feedback.

[2022-08-22 15:00] hsivonen opened #2433 "Experiment with pointer-based slice prefix computation in normalizer"
#2378 uses a pattern where there is a full slice and another slice that's known to be its suffix, and the prefix of the full slice is computed either so that the suffix is excluded or the suffix and a number of code units before the suffix is excluded.

Currently, this is done by taking the length of the full slice and subtracting the length of the suffix slice. However, in practice, the suffix sl

[2022-08-22 15:01] hsivonen commented on #2433
(If this is a win for the `&str` case, it then makes sense to explore making `utf8_iter` and `utf16_iter` store a pointer past the end instead of storing the remaining slice.)

[2022-08-22 17:52] hsivonen commented on #2415
We discussed this previously. The options for the collator support the notion of explicitly-set value and left-at-default values so that the left-at-default values get overwritten with locale-specific defaults before the collator actually uses the options. We discussed previously whether it should be possible to set a value back to default after setting it so an explicit value, and we decided that

[2022-08-22 21:21] Manishearth commented on #1668
zerovec and calendars in https://github.com/unicode-org/icu4x/issues/1668

[2022-08-22 23:03] sffc commented on #1724
@pdogr I think there's time for ICU4X 1.0 to optimize the storage at least for the ULE form of TinyAsciiStr. @robertbastian Could you advise on this?

[2022-08-22 23:38] Manishearth commented on #2241
https://github.com/unicode-org/icu4x/issues/2241

[2022-08-23 05:21] jedel1043 opened #2437 "Implement `resolve_components` for `ZonedDateTimeFormatter`"
The purpose of #1361 was to easily obtain the resolved options of a `DateTimeFormatter` for ECMA-402 implementations. Unfortunately, the `DateTimeFormat` service requires a `ZonedDateTimeFormatter` instead, and said component doesn't have an equivalent method to obtain its resolved options.

[2022-08-23 05:44] hsivonen commented on #1848
I suggest creating a borrowed counterpart of `CodePointTrie` that holds `ZeroSlice`s instead of `ZeroVec`s, making `CodePointTrie` to deref into that type and moving the lookup code onto the borrowed type. This way, the normalizer could hold the borrow type by value instead of holding a reference to `CodePointTrie` itself and could avoid the `ZeroVec` discriminant branches on every lookup.

See al

[2022-08-23 06:29] hsivonen commented on #1848
Adding the discuss-priority label to discuss whether the idea from my previous comment would be a breaking change after 1.0 and, therefore, would have to be done before 1.0.

[2022-08-23 08:45] hsivonen commented on #2415
To organize the reply a bit more:

* Because the actual locale-dependent defaults are merged in _later_, the options keep track of what was explicitly set and what was left at default, so that the later-merged stuff overwrites only the not-explicitly-set parts. We can't just initialize the fields to defaults and forget about what's explicit and what's not.
* The getters give a view to what the cur

[2022-08-23 08:57] #2083 closed

[2022-08-24 08:55] hsivonen opened #2444 "Add in-tree collation benchmarks"
I have [out-of-tree normalization benchmarks](https://github.com/hsivonen/norm_bench) that use Wikipedia content and that take a rather long time to run.

So far, experience suggests that English and Greek normalization performance are particularly sensitive to compiler optimizations. Chinese makes sense to benchmark, because it represents the case where just about every character is normalization

[2022-08-24 14:46] echeran opened #2445 "Benchmarks for CodePointTrie in ICU4X and ICU"
It would be nice to have performance benchmarks that perform an apples-to-apples comparison of the CodePointTrie implementations in ICU4X and ICU.

From: https://github.com/unicode-org/icu4x/pull/2378#issuecomment-1221228093

[2022-08-24 15:01] sffc commented on #2421
Also add FFI for it

[2022-08-24 15:30] #2295 closed

[2022-08-24 17:50] echeran commented on #1025
Fixed by #2125

[2022-08-24 17:50] #1025 closed

[2022-08-24 17:53] #2109 closed

[2022-08-24 18:37] Manishearth commented on #2417
Yeah that's fair I guess. I just like avoiding doc(hidden) if possible.

[2022-08-24 20:33] #2241 closed

[2022-08-25 08:31] robertbastian opened #2448 "FFI `ICU4X` prefix"
All our diplomat types are prefixed with `ICU4X`. This is probably due to C not having namespacing. However, in other languages, this is not idiomatic. Could a prefix be added as part of Diplomat's C generation instead?

[2022-08-25 10:58] #1368 closed

[2022-08-25 10:58] robertbastian commented on #1368
This has been added and subsequently removed.

[2022-08-25 15:12] sffc commented on #2448
Duplicate of https://github.com/unicode-org/icu4x/issues/2182

[2022-08-25 15:15] robertbastian commented on #2448
Isn't https://github.com/unicode-org/icu4x/issues/2182 much wider in scope, i.e. proper C++ namespacing? I'm thinking of removing the prefix from all names, and just slapping it on every name that is generated for C and C++ (but not for say Dart).

[2022-08-25 15:24] sffc commented on #2448
I think we had discussed that in the context of #2182 but there was some reason it was hard to do. @Manishearth ?

[2022-08-25 15:39] sffc commented on #2415
OK! Thanks for the clarification. My initial thought would be for the options bag to have a bunch of fields that are all `Option<Foo>`. It's true that there is some trickiness getting that to work over FFI, but that's solvable by making the FFI layer use a different style than the Rust layer (something we alreaddy do in various situations).

[2022-08-25 15:50] sffc commented on #1848
Probably how I'd like to do this would be to introduce something like `CodePointTrieWithStore<T, S> where S: Deref<[T::ULE]>` and then define `type CodePointTrie<T> = CodePointTrieWithStore<T, ZeroVec<T>>`

[2022-08-25 15:57] sffc commented on #2437
@jedel1043 The support for datetime components is experimental; there is a fairly clear path forward to bring them to a point where we can launch them as stable. Would you be interested in contributing to ICU4X to bring datetime components to the finish line? Happy to jump on a call to discuss.

[2022-08-25 17:15] sffc commented on #1848
Discussion:

- @sffc - Is this something we can do post 1.0?
- @Manishearth - If we typedef it? Yes... it should work, but it's a corner of Rust that behaves weirdly. Typedefs with type parameters are weird
- @robertbastian - I think it won't let you create one without a generic
- @Manishearth - Is Deref the right trait?
- @sffc - Probably not. We can discuss the exact bound later.

Conclusion: Th

[2022-08-25 17:36] sffc commented on #2413
Discussion:

- @robertbastian - `u32_get()`
- @zbraniecki - Rust generally recommends not to have `get`
- @zbraniecki - `get_with_u32`, `get_from_u32`
- @sffc - These are basically overloads; should we consider shorter method names? like `get32`
- @Manishearth - I like `get32` because it doesn't tell my brain that I am getting a u32 return value
- @zbraniecki - Do we need both versions with the ov

[2022-08-25 17:56] sffc commented on #2417
Options:

1. `doc(hidden)`
2. Private fields with custom databake impls
3. Inner type like `ScriptWithExtensionsInnerFieldsUnstable` (outer type is a tuple struct wrapping the inner type)

Decision: 1 leaves us flexibility and is the least work.

[2022-08-25 18:06] sffc commented on #2448
Action: @Manishearth to open or track a Diplomat issue.

[2022-08-25 18:06] Manishearth commented on #2448
https://github.com/rust-diplomat/diplomat/issues/103

[2022-08-25 18:09] markusicu commented on #2413
The [proposal](https://github.com/unicode-org/icu4x/issues/2413#issuecomment-1227572950) wfm.

[2022-08-25 18:09] sffc commented on #2415
Discussion:

- @zbraniecki - `set_defaults` sounds like `merge` and I would like it to have that name
- @sffc - I don't see any other invariants here

Decision: make it an options bag with public fields (and non_exhaustive)

[2022-08-25 18:17] sffc opened #2449 "fixed_decimal::decimal should not be public"

[2022-08-25 18:23] jedel1043 commented on #2437
@sffc I'd love to! Would need some guidance though, since I'm still getting accustomed to the repo 😅

[2022-08-25 18:28] markusicu commented on #1848
FYI
- CPT stores data for ASCII characters (0..7F) in a linear array that can be indexed directly.
- A "fast" CPT uses a simple 2-stage lookup for all of the BMP. I don't know how to make this better without using a large, linear array for the BMP.
- A "fast" CPT supports an optimized from-UTF-8-bytes lookup of BMP characters where the last trail byte (which carries the least significant 6 bits of

[2022-08-25 20:02] #1945 closed

[2022-08-25 20:13] Manishearth opened #2450 "Support disabling APIs per-backend"
Eventually, we will have backends that support more functionality than others, as we start adding more complex things like callbacks. It would be nice to be able to write APIs (and our own tests!) that work on backends that support the feature whilst being disabled on backends that don't.

Something like `#[diplomat::disable(cpp)]`

[2022-08-25 20:13] Manishearth opened #2451 "Support overloading"
Related: https://github.com/rust-diplomat/diplomat/issues/166

This would have to be backend-specific, but it would be nice to be able to overload across FFI where possible.

Instead of a `#[diplomat::overload]` attribute, the design I'm thinking would be `#[diplomat::rename(cpp, "foo_bar")]` (renaming is useful anyway), and in case of clashes, the backend figures out if stuff is overloadable and

[2022-08-25 20:15] sffc opened #2452 "DataBake: split serialized form from runtime form"
A general DataBake feature that would solve several problems, including #2417, would be a way to specify a different data struct as the serialized form of the main data struct, with functions to convert between them.

For example, you might write

[code]

CC @Manishearth @robertbastian

[2022-08-25 20:26] Manishearth opened #2453 "Holistic per-backend attribute system"
I'd like to have a single system for passing attributes to backends.

Right now we have a couple proposed:

 - `#[diplomat::namespace(cpp, icu4x)]`: https://github.com/rust-diplomat/diplomat/issues/103
 - `#[diplomat::rename(cpp, foo_bar)]` https://github.com/unicode-org/icu4x/issues/2451
 - `#[diplomat::disable(cpp)]`: https://github.com/unicode-org/icu4x/issues/2450

We may also want to have a c

[2022-08-25 20:26] Manishearth commented on #2451
If we do this we should do this in the holistic backend attribute system designed in https://github.com/unicode-org/icu4x/issues/2453

[2022-08-25 20:26] Manishearth commented on #2450
If we do this we should do this in the holistic backend attribute system designed in https://github.com/unicode-org/icu4x/issues/2453

[2022-08-25 20:36] Manishearth commented on #2452
The way I'd prefer to do this is:

[code]

We could also have both (serde does), but I consider having methods to be less API-polluting than having a new struct. Though in both cases we could `doc(hidden)` them (I'm more open to doc-hidden on methods and structs over fields)

[2022-08-25 21:17] Manishearth opened #2454 "Regen tasks should only overwrite existing files if successful"
We have a bunch of regen-style tasks (testdata, diplomat-gen, fingerprint, ffi-coverage) where we generate a bunch of files on top of checked-in files (and typically, check the difference on CI)

They typically work by deleting the existing files, running the task, and then overwriting the file. This means that if the task fails, the files will be in a weird state that often needs to be reset from

[2022-08-25 21:55] Manishearth commented on #2453
Wrong repo, https://github.com/rust-diplomat/diplomat/issues/235

[2022-08-25 21:55] #2453 closed

[2022-08-25 21:55] Manishearth commented on #2451
Wrong repo, https://github.com/rust-diplomat/diplomat/issues/234

[2022-08-25 21:55] #2451 closed

[2022-08-25 21:55] Manishearth commented on #2450
Wrong repo, https://github.com/rust-diplomat/diplomat/issues/233

[2022-08-25 21:55] #2450 closed

[2022-08-25 23:14] sffc commented on #2452
@Manishearth Your proposal is tied to the list of fields in `Foo`. This serves a more narrow use case. My proposal decouples the list of fields in `Foo` from the struct being serialized, which fixes the private fields issue but also solves other issues.

Also, you copied my comment

[code]

which is exactly what your solution _doesn't_ do.

[2022-08-26 00:35] #2449 closed

[2022-08-26 03:12] sffc commented on #2437
@jedel1043 Cool! Can you message me, sffc at google dot com, to set up some time?

[2022-08-26 03:19] sffc commented on #2454
Questions:

1. Should we delete the temp directory if codegen failed, or not delete it for debugging purposes but leak disk space?
2. How to make it work consistently on Windows and Unix?

[2022-08-26 03:30] Manishearth commented on #2454
I think it's fine to delete if codgen failed, but we can have an env var disable it perhaps.

I assume duckscript has enough stuff to make this work cross platform.

[2022-08-26 05:08] Manishearth commented on #2452
oops, yeah.

Your proposal does decouple things completely, but at the cost of a new public type; which I consider to be pretty high. I would rather ICU4X not be peppered with these fields types.

[2022-08-26 06:25] hsivonen commented on #2218
To get Diplomat to use `std::string_view` in C++, the argument type on the `#[diplomat::opaque]` `ICU4XCollator` should take `&str`, which should immediately get `as_bytes()` called on it.

[This requires more Diplomat configurability.](https://github.com/rust-diplomat/diplomat/issues/240)

[2022-08-26 06:27] hsivonen commented on #2219
To get Diplomat to use `std::string_view` in C++, the argument type of the method on the `#[diplomat::opaque]` `ICU4XComposingNormalizer` should be `&str`, which should immediately get `as_bytes()` called on it.

[This requires more Diplomat configurability.](https://github.com/rust-diplomat/diplomat/issues/240)

[2022-08-26 06:43] hsivonen opened #2458 "Move normalization data validation from GIGO to deserialization"
(It was previously concluded in a meeting that it's not a post-1.0 breaking change to switch from bogus data causing GIGO to bogus data causing a constructor to err out.)

In the normalization data:

`ZeroVec<'data, u16>` should use a `BmpChar` type (that has the same bit representation as `u16`) instead of using `u16`. The `BmpChar` type should be validated at deserialization time not to be in th

[2022-08-26 17:23] sffc commented on #2452
Pros and cons of a separate fields type:

1. Pro: Allows the type `Foo` to have a different data model / different private fields
2. Pro: The data model of `Foo` can change without changing any public function signatures
3. Pro: We could additionally consider `FooFields` as something that could evolve if we say that it is unstable (like the unstable constructors)
4. Con: ICU4X peppered with more p

[2022-08-26 17:29] sffc commented on #2452
Another thought on the proposed convention for function names: `from_baked_fields` and `to_baked_fields`. These function names can be the default names so that they don't need to be listed in the derive. The standard boilerplate then becomes

[code]

[2022-08-26 18:43] sffc commented on #2452
Thought: This would also enable us to perform validation (to the extent allowed in a const context) either by panicking in `from_baked_fields` or by returning a `Result` and making DataBake generate a panicky match statement.

[2022-08-26 19:18] Manishearth commented on #2452
I mean, part of the thing is that we can have _both_ these schemes, like serde does. I just don't want us to use from_fields in ICU4X. Perhaps with a hidden type, I guess.

The problem with having a proposed convention is that that's super rigid since this is an impact on the public API. Unlike serde where everything can be module-private; any such function must be public; so I'd argue that we _ha

[2022-08-26 19:20] sffc commented on #2452
I'm not proposing that any of the names are fixed; they should be customizable. I'm only proposing that `from_baked_fields` and `to_baked_fields` seems like a reasonable convention to be used in absence of something better.

The functions and struct can be `#[doc(hidden)]` if desired.

[2022-08-26 19:25] Manishearth commented on #2452
Hmm, fair. I think that would be okay for ICU4X.

[2022-08-26 21:00] sffc opened #2461 "week_of_month seems to be broken"
I added a test in `week_of` as follows:

[code]

but it returns week 1 instead of 4.

[2022-08-27 22:01] #2421 closed

[2022-08-29 19:31] #2056 closed

[2022-08-29 19:33] snktd commented on #2176
This is fixed now with https://github.com/unicode-org/icu4x/pull/2465. Can we close it?

[2022-08-29 19:43] sffc opened #2467 "Do we need TimeZoneFormatterConfig?"
I think everything that `TimeZoneFormatterConfig` can do is already supported by the constellation of `load_` methods. It is mostly used internally and in tests.

I think the original idea behind `TimeZoneFormatterConfig` was to support the UTS 35 fallback logic, but it isn't actually doing that. It does nothing more than feed a `match` statement around all the `load_` functions.

Can we make `Tim

[2022-08-29 19:43] #2176 closed

[2022-08-29 19:44] Manishearth commented on #2467
Let's do it

[2022-08-29 19:58] nordzilla commented on #2467
I believe Sam created `TimeZoneFormatterConfig` as the set of config options that are valid to construct a `TimeZoneFormat` as a stand-alone entity.

[2022-08-29 21:05] Manishearth commented on #2467
@nordzilla I don't quite understand what you mean by standalone; TZF needs both Config and Options right now and it seems like Config is a subset

[2022-08-29 21:33] sffc commented on #2467
TimeZoneFormatterConfig is only used to do this:

[code]

I had remembered discussing that we wanted a way to express the UTS 35 fallback algorithms, but this is not what `TimeZoneFormatterConfig` is currently doing. It does not have any value-add over just using the `load` functions.

[2022-08-29 21:51] nordzilla commented on #2467
By standalone I just meant TZF apart from Zoned DTF.

But yes, as Shane pointed out, we did make all those load functions, which are public, and so I think it would be fine to make the Config object private.

[2022-08-29 22:53] echeran opened #2472 "Collation case level examples debug"
When creating docs examples for the case level setting in collation options for collator (#2447), I couldn't seem to create examples that returned distinct outputs from primary strength versus secondary strength.

The examples in #2447 are adapted from the examples provided in the [ICU User Guide for case level](https://unicode-org.github.io/icu/userguide/collation/concepts.html#caselevel), partly

[2022-08-29 23:42] markusicu commented on #2472
I suggest you try this list of strings and compare each with the next:
- ⓓⓔⓐⓛ
- DEAL
- dejavu
- dejAvu
- déjavu

The last two trade places in the sort order depending on the settings:
- primary+case ignores the accent difference so dejAvu will compare greatest
- secondary+case has the accent difference win over the case difference

----
This is a bug:
[code]
This should yield Greater.

[2022-08-30 00:20] sffc opened #2473 "icu::datetime::time_zone::ZeroPadding is unused"
There is no API that consumes values from this enum:

https://unicode-org.github.io/icu4x-docs/doc/icu_datetime/time_zone/enum.ZeroPadding.html

Why not?

We should either make the enum private or add a public function that uses it.

@nordzilla

[2022-08-30 00:30] sffc commented on #2136
For FFI purposes, it would make things a lot simpler if we had just one provider type. It would be an enum between a buffer provider and an any provider.

This doesn't solve Serde code size issues directly, but we can circumvent that problem by having a feature on the `icu_capi` crate to enable or disable the BufferProvider version of it.

[2022-08-30 01:07] #2428 closed

[2022-08-30 01:08] nordzilla commented on #2473
Yes, this can certainly be made private.

This enum was created only for readability and code clarity so as not to pass `true` or `false` to functions.

[2022-08-30 01:10] sffc commented on #2473
Cool. The action then is to make it private.

[2022-08-30 01:45] sffc opened #2474 "maybe_calculate_meta_zone arguments are mixed up"
The arguments are in the opposite of the expected order. The reference constant struct (MetaZoneCalculator) should go first, and the variable argument (datetime) should go second.

[2022-08-30 02:16] sffc opened #2476 "Day-of-week calculation in Indian calendar appears broken"
In Chrome:

[code]

But in ICU4X:

[code]

CC @zbraniecki @gregtatum @Manishearth

[2022-08-30 04:58] Manishearth commented on #2136
Hmmm. Not ideal but I guess it works.

[2022-08-30 05:18] Manishearth commented on #2476
Our conversion math is wrong; it syncs up the two calendars' month 1, which isn't the case.

[2022-08-30 05:19] Manishearth commented on #2476
We probably ought to fuzz the calendars crate by converting from random ISO dates and ensuring it's correct (and later, fuzz the offset code, etc)

[2022-08-30 06:16] Manishearth commented on #2476
https://github.com/unicode-org/icu4x/pull/2479

[2022-08-30 14:43] hsivonen opened #2482 "Use extend() with iterator as appropriate in normalizer and collator"
[Instead of pushing in a loop, use extend.](https://github.com/unicode-org/icu4x/pull/2481#discussion_r958400225)

[2022-08-30 16:08] sffc commented on #2136
None of our choices are ideal:

1. Enum toggling between Buffer and Any with a feature on icu_capi to enable/disable Buffer mode
2. Add two versions of all the constructors over FFI
3. Add constructor-specific data provider opaque wrappers

We have some precedent of using features to reduce code size (`deserialize_json`). So I think it's fine.

We could even do the same thing on the Rust side to g

[2022-08-30 16:14] sffc opened #2485 "Add icu_provider_adapters to FFI"
The icu_provider_adapters crate is important to FFI users. It should be tracked in missing_apis.txt.

[2022-08-30 17:44] #2467 closed

[2022-08-30 18:07] sffc opened #2486 "fixed_decimal::Sign should be exhaustive"
There are only 3 sign values, and they correspond to the low-level data model of FixedDecimal and UTS 35.

CC @younies @eggrobin

[2022-08-30 20:40] #2402 closed

[2022-08-30 20:53] echeran commented on #2472
@markusicu - Thanks! I incorporated some of that into PR #2447.

Note to self/others: Leave this issue open for the bug identified in the comment above.

[2022-08-30 21:58] #2476 closed

[2022-08-31 00:06] markusicu commented on #2472
Nice.

That is now visible on two lines in the above PR:
[code]

[2022-08-31 01:57] sffc opened #2489 "We should be using serde_bytes::Bytes instead of [u8]"
Due to https://github.com/serde-rs/serde/issues/518, everywhere we have `[u8]` gets serialized as a "sequence of u8" rather than as "bytes".

The impact is somewhat limited since `VarZeroVec` has its own `impl Serialize` that calls `serialize_bytes`. However, this shows up in the JSON form of `ZeroMap<[u8], T>`: the `[u8]` gets serialized as a "sequence of u8" and there's nothing we can do about i

[2022-08-31 02:02] Manishearth commented on #2489
(There's one thing we can do about it: switch to `ZeroMap<ZeroSlice<u8>, ...>` which should behave mostly the same)

[2022-08-31 02:02] sffc opened #2490 "Serialize ASCII bytes to strings in JSON"
Due to our recommendations for serializing certain types of ASCII strings, such as locale identifiers, human-readable strings enter the serde schema as `[u8]`. This means that in JSON, they get rendered as a sequence of integers, which is not human-readable.

The idea is that in cases where we will never be downcasting the bytes to a string, it is faster to skip the UTF-8 validation during deseria

[2022-08-31 02:02] sffc commented on #2490
Example of one of the data files that would become more readable with this change:

https://github.com/unicode-org/icu4x/blob/main/provider/testdata/data/json/fallback/parents%401/und.json

[2022-08-31 02:03] sffc commented on #2489
Even `ZeroSlice<u8>` has the blanket impl that resolves to `serialize_seq` instead of `serialize_bytes`.

[2022-08-31 02:04] Manishearth commented on #2489
oh, you're talking about human readable serialization, gotcha.

[2022-08-31 02:06] sffc commented on #2489
I think the impact on Postcard is minimal because it appears that the data model for "sequence of u8" versus "bytes" is identical. I don't know for sure whether the codegen is the same.

But also, for Postcard, this would only kick in if the bytes are the top level type, and most of the time they are inside of a zerovec wrapper like `VarZeroVec<[u8]>`.

[2022-08-31 02:26] sffc commented on #1964
There is a list of collation-specific aliases/parents in the LDML-to-ICU converter:

https://github.com/unicode-org/icu/blob/0266970e977b9e2488dfbf788cc280be3a0338ca/tools/cldr/cldr-to-icu/build-icu-data.xml#L263

Obviously, that list isn't making it into ICU4X.

I chatted with @markusicu about this today. He says that it may make sense to introduce a "processing" mode to the locale fallback engin

[2022-08-31 05:54] hsivonen opened #2491 "Add CharULE::from_array<N>(chars: [char; N]) -> [CharULE; N]"
Add const-evaluable `CharULE::from_array<N>(chars: [char; N]) -> [CharULE; N]`. (I'm not sure if const evaluation is powerful enough to do this.)

[2022-08-31 06:01] Manishearth opened #2492 "Revisit "unplanned for now" section of ffi_coverage ignorelist post-1.0"
The FFI coverage test has the following section of ignores:

https://github.com/unicode-org/icu4x/blob/90db7c6a5ef3d64e969850c2655e8b9e45948c81/ffi/diplomat/ffi_coverage/src/main.rs#L140-L141

After 1.0, we should go through everything here and plan FFI for them, filing followups as needed.

[2022-08-31 09:23] robertbastian commented on #2489
We'd have to use `serde_bytes::Bytes` regardless of whether `serde` is enabled, but it actually pulls it in.

[2022-08-31 09:27] robertbastian commented on #2489
I also think it makes more sense to use a `LikelyAsciiBytes` type (that we own [for now]). Serializing something that's declared to be just "bytes" to a string based on the value doesn't seem correct.

[2022-08-31 10:10] robertbastian commented on #1724
Note that the all-1 bit-pattern is actually not the maximum value for signed integers.

[2022-08-31 15:26] Manishearth commented on #2489
Yeah I think having our own type is better here

[2022-08-31 16:37] sffc commented on #2489
Naming suggestions?

Where should the type live? In `zerovec` or in `icu_provider`?

[2022-08-31 16:39] robertbastian commented on #2489
`icu_provider::serde::utils::AsciiBytes`

[2022-08-31 16:52] sffc commented on #2489
I think that has the same problem where the `serde` feature is needed to access it?

[2022-08-31 17:09] Manishearth commented on #2489
Yeah if we do this it has to be a non-featurecfgd util

[2022-08-31 17:16] echeran commented on #2404
Fixed by #2447

[2022-08-31 17:16] #2404 closed

[2022-08-31 19:02] #2414 closed

[2022-09-01 12:14] robertbastian commented on #2489
I'd still put it under serde path, and just cfg things that actually need serde explicitly.

[2022-09-01 14:30] #2415 closed

[2022-09-01 14:34] echeran commented on #2418
The changes to say "ill-/well-formed" were made in #2475.

@hsivonen which locales override the strength to Tertiary?  Do we already have unit tests that exemplify this behavior?

[2022-09-01 15:36] sffc commented on #2489
How about `zerovec::ule::LazyStr`?

It is in scope of zerovec because it's something you use to control the ULE validation lifecycle. A `VarZeroVec<str>` is eagerly validated (upon construction), and a `VarZeroVec<LazyStr>` is lazily validated (you get a `LazyStr` upon lookup, which then has a fallible `TryInto<str>`).

[2022-09-01 15:37] sffc commented on #2490
Duplicate of #2489

[2022-09-01 15:37] #2490 closed

[2022-09-01 15:39] Manishearth commented on #2491
It is whenever https://doc.rust-lang.org/stable/std/primitive.array.html#method.map stabilizes for const, but not before. We're not really doing to/from ULE conversions over const since traits can't be invoked in const anyway.

I'd prefer we don't do this: it's impossible to do until `[T; N]::map()` is stable; and once that method is stable my recommendation would be to just use it.

[2022-09-01 15:48] sffc commented on #2491
This isn't true. We already have `pub const fn from_array<const N: usize>(arr: [u16; N]) -> [Self; N]`

https://unicode-org.github.io/icu4x-docs/doc/zerovec/ule/struct.RawBytesULE.html#method.from_array

It doesn't use `map`. It just uses plain index operations, which work in `const`.

[2022-09-01 16:33] sffc commented on #2491
When such a function is added, we still can't avoid the necessity of type-specific conversion functions, since it seems unlikely that we'll be able to call trait functions in const in the near term. In other words, we will need one of the following for each ULE type:

1. `U::from_array<N>(arr: [T; N]) -> [U; N]`
2. `U::as_ule_const(t: T) -> U`

[2022-09-01 16:36] sffc commented on #2491
Related: https://github.com/unicode-org/icu4x/issues/1935

[2022-09-01 18:33] Manishearth commented on #2489
I guess that can work.

What would the serialize impl be? always bytes on binary formats, and choose between bytes and str for human readable formats based on validity?

[2022-09-01 18:33] Manishearth commented on #2489
I wouldn't call it LazyStr, though, I'd call it something like MaybeUTF8Bytes.

[2022-09-01 21:01] sffc commented on #2489
Two choices:

1. As you proposed, or
2. Return a serialization error (in both human and non-human) if the bytes are not valid

This type has several concrete technical advantages, and I want people to be encouraged to use it, so I want a name that is clear and concise.

Depending on the decision to the first question, "maybe" may or not be accurate to describe the type. If the type is intended to

[2022-09-01 23:02] Manishearth commented on #2489
I'd call it `UnvalidatedStr` yeah

[2022-09-02 04:31] sffc commented on #2489
`UnvalidatedStr` is clear but a bit long and I don't really like the negative.

Thesaurus word... `ApocryphalStr`?

[2022-09-02 06:16] Manishearth commented on #2489
heh

I think Unvalidated is pretty clear and I don't think we need a short name for a type that will for most users be niche (even if ICU4X might make heavy use of it)

[2022-09-02 09:03] robertbastian commented on #2489
This is a serde concept first, not a ZeroVec concept. If we only implemented `VarULE` on this, sure stick it in zerovec, but its Deserialize implementation is usable without the zerovec dependency.

[2022-09-02 13:44] robertbastian commented on #2489
Although we also don't want to introduce a `zerovec -> icu_provider` dependency, so I think we want to put this in a fresh crate. In fact, the cleanest approach would be to make `serde` on optional dependency of the `serde_bytes` crate, as that already includes exactly this code (https://github.com/serde-rs/bytes/blob/master/src/bytes.rs). `serde_bytes` can then be a non-optional dependency on zer

[2022-09-02 15:14] sffc commented on #1724
At least for now, I think the NicheOptionULE should show up in ZeroVec bounds. The blanket impl on Option should stay, at least for now (but we can start migrating ICU4X users over to the new model).

NicheOptionULE should have a function like `get` that returns a regular option, which you have to invoke after getting the value out.

[2022-09-02 15:37] sffc commented on #1724
Yeah, I think the nicest solution is NichedOption that has a Deref to regular Option.

[2022-09-02 15:55] robertbastian commented on #1724
So something like

[code]

and usage would be

[code]

[2022-09-02 16:20] Manishearth commented on #1724
@pdogr yes, you will not be able to have multiple impls, it will have to be a separate type unless we want to completely replace the impl (which we can't). I think that's fine.

Note that you can get around needing the `const N` if you do the `&[u8]` thing I suggested instead. The trait has to be unsafe either way so requiring implementors to get the length right doesn't seem too bad.

[2022-09-02 16:51] robertbastian commented on #1724
The union cannot be defined without `N`, as `<U as InvalidBytes>::INVALID_BIT_PATTERN.len()` is not evaluable.

[2022-09-02 16:52] robertbastian commented on #1724
I also think it's a nice hint to the implementor.

[2022-09-02 17:04] sffc commented on #2489
I won't touch any `serde` branded crates. We need to do this in our own crates.

I do think this is very strongly related to zerovec due to its use as a ZeroMap key. I think it fits fully in the scope as a first-class type in the zerovec crate.

I'm willing to make a new util crate as a compromise, like we did with `deduplicating_array`, although I really do feel that this fits in the main `zerove

[2022-09-02 20:13] markusicu commented on #2418
Tertiary is the CLDR default. I don't think we currently have a locale that overrides that setting. (You could grep the CLDR data...)
We used to have Japanese set quaternary, but removed that for performance reasons.

[2022-09-02 21:16] #1956 closed

[2022-09-02 21:18] #2425 closed

[2022-09-02 21:18] #2473 closed

[2022-09-02 21:18] #2474 closed

[2022-09-02 22:15] sffc opened #2504 "Fix unsafe code block in utils/tinystr/src/ascii.rs"
_Originally posted by @Manishearth in https://github.com/unicode-org/icu4x/pull/1932#discussion_r962022351_

[2022-09-02 22:16] sffc opened #2505 "Fix typo in locid/src/helpers.rs"
[code]

_Originally posted by @sffc in https://github.com/unicode-org/icu4x/pull/1932#discussion_r961885549_

[2022-09-03 01:18] sffc opened #2507 "Meta Zone -> Metazone"
@Manishearth, @samchen61661, and @markusicu prefer Metazone as one word instead of Meta Zone as two words.

I have a slight preference for two words to be consistent with Time Zone, but there are valid arguments that Metazone should be one word, including:

1. "Meta" is a prefix, not an adjective (although some dictionaries do list it as an adjective)
2. UTS 35, while inconsistent, tends to use on

[2022-09-03 01:20] sffc opened #2508 "Add module-level docs to icu::datetime::time_zone"
Feedback from @markusicu.

[2022-09-03 01:28] sffc opened #2509 "Writeable docs should be clearer"
The Writeable docs show up in most of our `Formatted*` types. They currently say "writes bytes to a sink", which is not very clear to developers. More clear would be "writes string to a sink".

Writeable has a non-optional `write_to_string` function, which suggests that the bytes should always be UTF-8, right?

@robertbastian

[2022-09-03 01:30] sffc opened #2510 "Writeable::write_len naming is confusing"
Feedback from @markusicu:

I prefer sticking with the `write_` prefix for consistency and because `write_len` is not a function most people should be using. But I'm open to hearing what other people think.

@Manishearth
@robertbastian
@zbraniecki

[2022-09-03 01:31] sffc opened #2511 "Delete format_to_write functions or reorder arguments"
Feedback from @markusicu:

[2022-09-03 01:33] sffc opened #2512 "Consider naming of nested types in icu::datetime"
Feedback from @markusicu:

@zbraniecki

[2022-09-03 01:39] sffc opened #2513 "More docs tweaks in the icu::datetime crate"
From API review with @markusicu:

- [ ] In main example, the comment string should be “Calendars match” instead of "Formatting should succeed" for the .expect() call for `formatted_date`. See how the examples work in e.g. ZonedDateTimeFormatter.
- [ ] Add module-level docs to icu::datetime::time_zone
- [ ] TypedZonedDateTimeFormatter example does not assert what the output is equal to, but should

[2022-09-03 01:39] sffc commented on #2508
Merged into #2513

[2022-09-03 01:39] #2508 closed

[2022-09-03 01:39] sffc commented on #2513
@echeran OK if I assign this one to you?

[2022-09-03 02:51] markusicu commented on #2510
I think it's confusing to name a function write_xyz() when it does not write anything. Something like length_hint() would be better.

[2022-09-04 17:19] Manishearth commented on #2510
I would call it `writeable_len`. I agree that `write_foo()` gives off the impression it's writing something. `write_len_hint` is also fine, but really I don't think the `write_` prefix is a positive add here

[2022-09-05 07:36] hsivonen commented on #2418
I also am not aware of a locale that would set a non-tertiary strength. Japanese data has an explicit strength, but it is now tertiary. (Also, currently ICU4X does not have code to take the strength from the locale.)

[2022-09-05 07:47] hsivonen opened #2514 "Provide glue code for HarfBuzz"
[`icu_normalizer::properties`](https://unicode-org.github.io/icu4x-docs/doc/icu_normalizer/properties/index.html) has API surface whose purpose is to cater to HarfBuzz. Additionally, `icu_properties` has functionality required by HarfBuzz.

[`hb-unicode.h`](https://searchfox.org/mozilla-central/source/gfx/harfbuzz/src/hb-unicode.h) defines the callbacks that need implementations. These are C-linka

[2022-09-05 07:55] hsivonen commented on #2514
If I'm reading the sources right, the semantics of the decomposition callback appear to be that singleton decomposition reports the second character of a decomposition as U+0000.

[2022-09-05 08:32] sffc commented on #2510
I like `write_len_hint` but can also live with a `writeable_` prefix

[2022-09-05 09:23] robertbastian commented on #2509
Yes, writeable is inherently UTF-8, the sinks are not `std::io::Write` but `std::fmt::Write`

[2022-09-05 09:33] robertbastian commented on #2504
We can't transmute the reference because we need to change the length. And `slice::from_raw_parts` is const on >1.64 only.

I don't think adding the turbofishes when using `transmute` as a stand-in for `slice::from_raw_parts` adds any clarity.

[2022-09-05 10:48] robertbastian commented on #2513
Something else I noticed: `AnyCalendar`, `DateFormatter`, `DateTimeFormatter`, and `ZonedDateTimeFormatter` are the only types in all components that do not use the macro to declare `_with_any_provider` and `_with_buffer_provider`, and have separate docs for these functions. Should those be simplified?

[2022-09-05 11:01] robertbastian commented on #2489
Ok whatever. On naming I agree with `UnvalidatedStr`. On behaviour I think it should be a serialization error if the Unvalidated*Str* is not a `str`, as serialization should do validation; and also because it'd be confusing if some instances serialized with strings and others with bytes slices.

[2022-09-05 12:07] #2504 closed

[2022-09-05 13:40] #2505 closed

[2022-09-05 14:04] robertbastian commented on #2511
+1 to removing `format_to_write` and `format_to_string` as those are available through `format(...).write_to` and `format(...).write_to_string`. The current `format_to_string` implementations also don't respect the size hint, and it's inconsistent with other components where `format` is the only method.

[2022-09-05 14:06] robertbastian commented on #2383
Fixed by #2364

[2022-09-05 20:44] markusicu commented on #2511
A basic format_to_string() convenience method is generally nice.

[2022-09-05 23:51] Manishearth commented on #2510
In general I'd suggest that we avoid using unprefixed names for "internal" trait methods since they tend to pollute diagnostics and cause clashes.

[2022-09-05 23:54] Manishearth commented on #2504
It's more from a safety redundancy POV, but we can also just wait for that to be const.

[2022-09-06 01:26] makotokato opened #2519 "char16trie converter"
Now segmenter uses `char16trie` for dictionary segmenter.  East Asian dictionary can remove/move to LSTM, but Chinese and Japanese still use it.

Actually, current data is generated by ICU4C's tools then binary data by that tool converted to TOML file. So I guess that it is better to add generation tools for `char16trie` from ICU4C's dictionary text file.

[2022-09-06 04:00] sffc commented on #2510
Please cast your votes:

https://docs.google.com/document/d/1zm_pQsrO7kTBjHbtmoQiriFNedUyd1_AjJ2Um3u_kD4/edit#

[2022-09-06 04:06] sffc commented on #2510
I think I prefer `*_length_hint` over `*_len_hint` because the type is called LengthHint, not LenHint. I think it's weird to extend the abbreviation "len" to apply to the first word of a two-word type name. I added this as an option in the voting.

[2022-09-06 04:10] sffc commented on #2519
Consider doing like we did for the CodePointTrieBuilder. Rather than writing the code ourselves, we compile the ICU4C builder code into a WASM file and ship that in our repo.

[2022-09-06 04:22] sffc commented on #2504
I think 1.61 is going to be our MSRV through 1.0. We could update it next year at 2.0.

I don't feel strongly about this; @Manishearth should reopen the issue if we want to add the turbofishes.

[2022-09-06 04:28] sffc commented on #2511
Another advantage of `format_to_string` is that it doesn't require importing the trait.

[2022-09-06 04:35] sffc commented on #2510
Also... according to https://github.com/unicode-org/icu4x/issues/1453, we had decided on `write_to_str` instead of `write_to_string`, but the PR https://github.com/unicode-org/icu4x/pull/1663 implement it as `write_to_string`. CC @echeran

[2022-09-06 05:13] sffc commented on #2513
@Manishearth wrote those functions and docs. I didn't delete them when I added the macro everywhere else. I think it's fine for them to have extra docs; the macro is a convenience for us but results in slightly lower quality docs for consumers.

[2022-09-06 10:26] robertbastian commented on #2510
Rust uses `len()`, not `length()` though.

[2022-09-06 10:58] robertbastian commented on #2511
It's not really done in Rust though. You implement `Display` to get `to_string`, `write!`, `print!`, `format!`, etc.

There are several things that would be nice to achieve:
1) have a preallocating `to_string`
2) have support for `core::fmt`
3) not require extra trait imports
4) not have redundancies in the API surfaces that lead to users doing the wrong thing

For 2) we implement `Display`, which

[2022-09-06 16:13] robertbastian commented on #2510
Nice names are also nice when implementing them. And why shouldn't users call `len_hint` to unlock optimisations on their end?

[2022-09-06 16:16] Manishearth commented on #2513
Yeah the macro didn't exist when I started these but also I want them to have separate docs and doctests.

[2022-09-06 16:18] Manishearth commented on #2504
Hmm, that's unfortunate, since miri's not a fan of this kind of cast (though right now it's fine with it).

[2022-09-06 16:28] sffc commented on #2504
If there's a _technical_ (not style) reason that we should upgrade past 1.61, then we should discuss it at the team meeting. My understanding is that 1.62-64 add a handful of convenience functions but nothing that can't be done in 1.61, whereas 1.61 actually adds functionality to the language that lets us achieve things we couldn't do in previous versions.

[2022-09-06 16:39] sffc commented on #2510
With 4 votes cast (the four of us discussing in this thread), the fairly clear winner is `writeable_length_hint`. It has the highest average position and no vetoes.

[2022-09-06 16:43] Manishearth commented on #2504
yeah it's not a style reason as much as it's _technically_ UB but not _practically_ UB and miri doesn't catch it _yet_ but might in the future. (This becomes a more annoying problem in const)

It might be fine for us to do it this way for now.

[2022-09-06 17:03] Manishearth opened #2520 "Consistently deal with string encodings over FFI"
Currently we use `&str` over FFI when we're accepting strings from the user (which is not _that_ common, but crops up in segmenter, collator, etc).

Over FFI, this maps to `std::string_view` in C++ and a `String` in JS (that gets autoconverted to UTF8, throwing on surrogate codepoints). `string_view` is not guaranteed UTF8 in C++.

Eventually I would like Diplomat to allow for:

 - A config option

[2022-09-06 17:41] sffc commented on #2511
I don't think the risk of users doing the wrong thing is very high. The short method `format` is the main one, and the longer one `format_to_string` is the specialized convenience one. The docs of `format_to_string` can reiterate this.

Also, the fact that we're debating the most efficient way to make a string from a writeable means that this is something complex enough to justify a helper method.

[2022-09-06 17:45] sffc commented on #2511
Here are a bunch of ways to make a string:

[code]

The last one is most efficient, but this confusion can be remediated if we just have `fmt.format_to_string()`

[2022-09-06 18:04] robertbastian commented on #2511
The third one does two allocations, it creates a String from a Cow<str> that will in 99% of the cases be owned.

The first two options is what everyone is used to and will want to use, but sure let's add this, but everywhere.

[2022-09-06 18:51] echeran opened #2522 "Diplomat: delete default constructor in C++ for transparent structs"
## Background

When writing tests for Diplomat code added for Collator, a problem occurred with the new `CollatorOptions`.  Currently, `CollatorOptions` is an options bag struct in Rust that meant to be mutated directly before passed to a constructor.  Int Diplomat, it gets transpiled to a transparent struct in C++.  The generated C++ code looks like:

[code]

Then, in my test code, I wrote the fa

[2022-09-06 20:00] sffc commented on #2522
Ideally we should be able to make the default constructor populate the fields with default values. But in the short term it may be advisable to delete the default constructor since it creates uninitialized memory.

[2022-09-06 20:04] Manishearth commented on #2522
Yes, let's do that.

[2022-09-06 20:06] Manishearth commented on #2522
Actually, wait, why is this broken? Each of these is an enum with a zero value of Auto, no? C++ ought to be generating the right default initializer here?

At least, that was the intent: we do this with options bags elsewhere too.

[2022-09-06 20:59] sffc commented on #2522
POD types like enums and integers are undefined until you set them in C++.

[2022-09-06 21:00] sffc commented on #2522
If we want C++ to initialize the values to zero, that's code we need to write.

[2022-09-06 21:02] sffc commented on #2522
https://stackoverflow.com/questions/1069621/are-members-of-a-c-struct-initialized-to-0-by-default

[2022-09-06 21:09] sffc commented on #2522
I think what we should do is:

1. In docs, encourage people to use the initializer syntax `ICU4XCollatorOptions options = {};`
2. Delete the default constructor to prevent `ICU4XCollatorOptions options;` which creates unitialized memory and easily creates undefined behavior

[2022-09-06 21:22] Manishearth commented on #2522
Ah, right, `{}` is different from the default constructor. Let's do that then.

[2022-09-06 22:00] Manishearth commented on #2522
Hmm, I tried doing this and it disables brace-initialization like `return ICU4XFixedDecimalFormatOptions{ .grouping_strategy = ......}`

[2022-09-07 00:06] sffc opened #2525 "icu_provider_fs benches are gated on features that don't exist"
In `provider/fs/benches/provider_fs.rs`, there are feature gates for `deserialize_bincode_1` and `deserialize_postcard_07`, but those features are on the icu_provider crate, not the icu_provider_fs crate.

[2022-09-07 03:07] #2417 closed

[2022-09-07 04:37] kelebra commented on #2525
Hello, I wanted to try and fix the first issue, I hope you don't mind 😅

It looks like introducing two features `deserialize_bincode_1` and `deserialize_postcard_07` in `provider/fs` should do the trick. I opened a PR, lmk if I am on the wrong track here. fwiw I was using `ffi` module as an existing example of the proposed solution.

[2022-09-07 05:06] sffc commented on #2525
Thanks for the contribution!

Adding the features to the icu_provider_fs crate does indeed solve the issue. I wonder if there's a way to solve it without adding more features though. I'd like to reduce the number of features floating around.

CC @Manishearth @robertbastian

[2022-09-07 06:06] kelebra commented on #2525
That's fair and was my first thought too. fwiw I could not find any way to use a feature of a dependency in `cfg` without re-declaring it in `toml`. I am not that experienced in rust fwiw so if there is a way I would love to learn about it.

[2022-09-07 06:17] hsivonen commented on #2520
I'm not convinced that consistency at the cost of perf is the right way to go. I am in favor of consistency in terms of types, i.e. `std::string_view` for UTF-8-ish input, but I have doubts about it being good to favor consistency on the point of what memory-safe behavior (early error vs. as-if-replacement-characters) takes places in case of ill-formedness. Notably, an up-front well-formedness che

[2022-09-07 06:20] hsivonen commented on #2520
Also, would the check go on the C++ layer only or on the C/FFI layer? I.e. would JS go through a conversion from UTF-16 to guaranteed-well-format UTF-8 and still undergo a UTF-8 well-formedness check subsequently.

[2022-09-07 06:31] Manishearth commented on #2520
At the moment? It would have to go through the FFI layer. In the future we can make this configurable on Diplomat so that it automatically does this for C++.

(It is not a hard change to do and I am open to having that configurability for C++ now as well, however I personally have higher priority things to work on and this can be done post-1.0 without breaking things so I'd rather punt.)

[2022-09-07 06:50] hsivonen commented on #2520
Considering that the normalizer and the collator have been designed to be able to deal with all three of
1. guaranteed-well-formed UTF-8
2. potentially-ill-formed UTF-8
3. potentially-ill-formed UTF-16

performance-wise optimally, I'm uncomfortable with not letting that show through to the intended beneficiaries. Even though there are actual perf problems in comparison with ICU4X even given perfec

[2022-09-07 12:59] robertbastian commented on #2525
The features used to be on `icu_provider_fs` but were removed, I think the idea was that clients can enable them on the `icu_provider` crate. That said, clients won't usually depend on `icu_provider` directly, so it makes sense to have them on `icu_provider_fs`.

Also, `deserialize_postcard_07` should be `deserialize_postcard_1` across the board now.

[2022-09-07 13:01] robertbastian commented on #2525
Actually to fix the benchmarks, just remove the `cfg`s. The `icu_provider` dev-dependency includes the postcard and bincode functionality.

[2022-09-07 14:06] Manishearth commented on #2520
I don't see how this issue precludes any of that.

For APIs that support different kinds of inputs we can have different methods. We can even add the unvalidated one later if we don't want to start with

We can also fix the problem with the validation cost later.

Neither of these things are breaking.

We do not have time to do the ideal FFI for 1.0, this issue is about what we need to do for 1.0.

[2022-09-07 15:54] kelebra commented on #2525
Thanks for the alternative approach @robertbastian . PR was updated.

[2022-09-07 18:15] echeran commented on #2418
Ok, good to know, regarding default collation strength.  And based on that info, I think the first item in this issue's todo list doesn't make sense as written. @sffc Are we ready to close this issue?  All the other tasks are completed.

[2022-09-07 18:48] Manishearth commented on #2520
Okay, so here's a plan.

The general idea is that for 1.0 we will expose `std::string_view` APIs but not assume valid UTF8 (except in one case around bidi), plus additional utf16/etc APIs if desired. In 1.x we will have the Diplomat support to avoid any double-validation cost and expose more thoughtful per-language APIs.

The 1.x plans will need https://github.com/rust-diplomat/diplomat/issues/240

[2022-09-07 22:19] echeran commented on #2218
Fixed by #2498.  That covers adding Collator FFI via Diplomat.  The remaining details in the description of this issue -- about customizing the APIs produced in C++ -- are a part of the plan outlined in #2520.

[2022-09-07 22:19] #2218 closed

[2022-09-08 00:20] sffc commented on #2525
Fixed by #2527

[2022-09-08 00:20] #2525 closed

[2022-09-08 01:02] sffc commented on #2418
Thiis issue came from the API review with @markusicu. Based on the comments above, it looks like we can close it as fixed by #2475

[2022-09-08 01:02] #2418 closed

[2022-09-08 03:52] kelebra commented on #2482
I would like to try and tackle this issue. Two questions if you don't mind me asking:

- should I introduce new benchmark for the functionality
- I found another instance of mentioned code pattern (`for ... vec.push`) in the same file, should I replace it too?

[2022-09-08 06:19] hsivonen commented on #2520
The UTF-8 part of the above makes sense. Thank you.

Why do you say `&[u16]` needs to be validated? What UTF-16-taking APIs do we have that don't already deal with unpaired surrogates? Both the collator and the normalizer deal with ill-formed UTF-16 by as-iffing unpaired surrogates to U+FFFD, so up-front validation is unwanted. Do callers that have guaranteed-well-formed UTF-16 even exist?

[2022-09-08 08:34] #2510 closed

[2022-09-08 10:29] robertbastian commented on #2482
There are a few instances across those two crates, they should all be updated. I don't think benchmarks are necessary.

[2022-09-08 14:59] Manishearth commented on #2520
Sorry, I should rephrase, when I say "needs to be validated", I mean "should not be assumed to be valid", which in our case means we don't validate (but we also don't write code assuming validity)

[2022-09-08 16:42] sffc opened #2532 "Make a zero-copy hash map"
In the zerovec crate, we currently have `ZeroMap`, which does a binary-search lookup through the keys. This results in small code size and compact data layout, but it doesn't scale to maps with hundreds or thousands of keys. Moving forward, it would be good to have a ZeroHashMap in our toolbox as an option for when ZeroMap is a bottleneck.

Context: https://unicode-org.atlassian.net/browse/CLDR-15

[2022-09-08 17:13] robertbastian commented on #2482
I'm pretty sure there were more than 2 instances

[2022-09-08 17:33] kelebra commented on #2482
I can handle remaining instances later today 👍

[2022-09-08 17:43] sffc commented on #2511
- @zbraniecki - I'm concerned about the performance impact. It seems `format_to_write` could have better performance characteristics since it doesn't have an intermediate object.
- @sffc - The intermediate object is just a bag of pointers.
- @robertbastian - I have benchmarks in the PR.
- @Manishearth - Adding it back is easy. We can do it at any time if people want it. I think we should wait for

[2022-09-08 17:46] sffc commented on #2511
- @robertbastian - Do we want `format_to_string` on everything that has `format`?
- @sffc - I think yes, for reasons I listed above.
- @zbraniecki - +1
- @robertbastian - It's annoying but I can see it being useful.

[2022-09-08 17:58] sffc commented on #2136
- @robertbastian - How should someone give their own BakedProvider over FFI? Maybe datagen could output something to help.
- @Manishearth - That sounds workable with some asterisks. Or people could just modify the icu_capi code.

Proposal: Have a single ICU4XDataProvider with features to independently enable the AnyProvider and the BufferProvider versions.

LGTM: @robertbastian @Manishearth @sffc

[2022-09-08 18:15] sffc commented on #2520
- @younies - How the Bi-di algorithm works is that no matter the encoding, it gives levels to chunks. So the algorithm seems easy to update.
- @Manishearth - The APIs would need to be updated, too. Everything uses `&str` but we need it to take `&[u8]`.
- @younies - That sounds like something doable.
- @Manishearth - Yeah, we'd just need to design that layer. It's an API design question. It's not t

[2022-09-08 18:17] #2383 closed

[2022-09-08 18:33] sffc commented on #2384
@hsivonen What would be an appropriate milestone for this issue?

[2022-09-08 18:33] sffc commented on #2385
@hsivonen What would be an appropriate milestone for this issue?

[2022-09-08 18:34] sffc commented on #2386
@hsivonen What would be an appropriate milestone for this issue?

[2022-09-08 18:34] sffc commented on #2391
This is obsolete due to work on #1668.

[2022-09-08 18:34] #2391 closed

[2022-09-08 18:35] sffc commented on #2431
Is this fixed by #2378?

[2022-09-08 18:35] sffc commented on #2433
Is this fixed by #2378?

[2022-09-08 18:37] sffc commented on #2444
@hsivonen What would be an appropriate milestone for this issue?

[2022-09-08 18:40] sffc commented on #2461
CC @mildgravitas, can you take a look at this?

[2022-09-08 23:01] sffc opened #2535 "Stabilize Case Mapping"
Previous issue: https://github.com/unicode-org/icu4x/issues/1226

We need to ensure that the case mapping crate conforms to the ICU4X style guide, including documentation and FFI.

I'd also like to see whether we can make the data more zerovec-like.

CC @iainireland to add anything else that we should plan before we promote case mapping.

[2022-09-09 09:34] hsivonen commented on #2433
No, this is a follow-up for that one.

@Gankra 's [RustConf talk](https://www.youtube.com/watch?v=d8hd_uv3Gvg) says this is, in principle, an operation that can pessimize other uses of the pointer, so it's probably a bad idea to go this way.

Sadly, it appears there isn't a middle-ground analogous to integer overflow: Pointer distance computation that 1) would not require `unsafe` to call, 2) woul

[2022-09-09 09:47] hsivonen commented on #2431
No, this is a follow-up to that one.

[2022-09-09 10:40] hsivonen commented on #2386
This doesn't need to be scheduled for any particular milestone, but it also doesn't make sense to intentionally defer this. Let's say tentatively 1.1.

[2022-09-09 10:42] hsivonen commented on #2444
Ideally 1.0, but realistically probably 1.1.

[2022-09-09 10:43] hsivonen commented on #2385
This isn't urgent, so it's kinda weird to assign a milestone. Since this doesn't need to be in 1.0 and not necessarily in next, either. I put 1.2 as the milestone.

[2022-09-09 10:44] hsivonen commented on #2384
This isn't urgent, so it's kinda weird to assign a milestone. Since this doesn't need to be in 1.0 and not necessarily in next, either. I put 1.2 as the milestone.

[2022-09-09 13:29] robertbastian opened #2540 "Decouple `icu_testdata` versioning from `icu`?"
These should be versioned independently, as updating testdata should not bump the `icu` version.

Maybe something like `1.62` for ICU4X 1.x and ICU 62?

cc @dsipasseuth

[2022-09-09 14:55] dsipasseuth commented on #2540
as long as icu test data depends on anything from icu, i don't think it's possible.

but in theory, if it's only "data", it should not depends on icu. (data read should be string, bytes, anything available in standard lib but not an actual ICU defined structure)

i see this in the Cargo.toml

[code]

we could in theory keep 1.0.0 test data set for all future 1.x.z ICU lib version.

now keeping lib

[2022-09-09 15:16] robertbastian commented on #2540
`icu_testdata` would depend on a less specific version of `icu[_*]`, like `1`.

[2022-09-09 17:15] sffc commented on #2540
When components add new data structs, `icu_testdata` needs to be updated to have that minimum version. For example, if icu_datetime adds a new data struct in version 1.2, then `icu_testdata` needs to depend on version 1.2 and not anything lower than that. So I think it makes sense to keep `icu_testdata` major and minor versions parallel with the main component version.

However, when there is a ne

[2022-09-09 17:40] sffc commented on #2431
OK, can we assign it to a milestone then? My suggestions:

- If this is something you plan to work on this year or early next year, put it in 1.1 or 1.2
- If this is something we should definitely fix, but which is currently unscheduled, put it in 1.x
- If this requires API changes, put it in 2.0
- If this is an enhancement that could be fixed at some point with lower priority, label it as "backlo

[2022-09-09 17:59] #2409 closed

[2022-09-09 22:22] sffc opened #2543 "Add a bytes parsing API for GMTOffset and use it in CustomTimeZone and FFI"
We need bytes-based parsing APIs for FFI compatibility. We should add one for CustomTimeZone.

See #2320

[2022-09-09 23:19] #1440 closed

[2022-09-09 23:22] Manishearth commented on #2520
With #2534 and #2542, the 1.0 plan has been fully implemented.

[2022-09-11 14:55] dsipasseuth commented on #2540
Is it intended to have icu_datetime structure in icu_testdata and not in some other module like icu_datetime_test ?

[2022-09-11 17:45] sffc commented on #2540
It comes in via the baked provider.

[2022-09-13 09:46] robertbastian commented on #2540
Does cargo recognise that `1.1.0-cldr62` is later than `1.1.0-cldr61`? Otherwise we could use the third fragment (`1.1.62`), assuming we're not going to change any data struct layouts in minor releases.

[2022-09-13 19:40] sffc commented on #2540
I was thinking we save the patch version for "latest stable"; when there is a new latest stable, we bump the patch version. The `-cldr61` and `-cldr62` is what you can use to opt in to a specific CLDR version. Note that we would likely want them to actually be more like `-cldr61-alpha1` since CLDR has sub-releases that are important.

[2022-09-14 06:36] hsivonen opened #2557 "Make CodePointMapDataBorrowed use CodePointTrieBorrowed"
See #2554

[2022-09-14 06:38] hsivonen opened #2558 "Introduce a CodePointTrieBorrowed-using borrowed counterpart of CollationDataV1"
`CollationElements` should hold the new type instead of holding references to `CollationDataV1`.

See #2554.

[2022-09-14 06:55] sffc commented on #2558
The approach I'd recommend here is what we've done in Segmenter and Properties. Have a "foundation" type that holds ownership of the DataPayloads, and then an intermediate type that borrows everything it needs from the foundation. This way you can pull out both the DataPayload::get as well as the ZeroSlice.

[2022-09-14 10:14] hsivonen commented on #2431
This appear to be the case especially when the queried-for character doesn't have an entry in the trie. See #2554.

Non-BMP support's existence seems expensive when normalizing BMP content to NFD, but I don't see a similar effect for NFC. I don't understand why. I tested this by removing non-BMP handling from the fast-path loops. However, I wasn't creative enough to work non-BMP handing back in su

[2022-09-14 14:23] makotokato opened #2559 "Cargo.toml in icu_collections has no license entry"
All? Cargo.toml adds license entry as Unicode-DFS-2016 by https://github.com/unicode-org/icu4x/pull/2303. But https://github.com/unicode-org/icu4x/blob/main/components/collections/Cargo.toml#L13 has no license entry. Is this bug?

[2022-09-14 15:00] sffc commented on #2559
Looks like a bug. @srl295

[2022-09-14 15:01] srl295 commented on #2559
Assign to me

[2022-09-14 17:07] robertbastian commented on #1745
Fixed by #2545

[2022-09-14 17:07] #1745 closed

[2022-09-15 15:16] Manishearth commented on #2219
This issue has been solved for 1.0

We should open a separate issue for 1.x followups for when Diplomat has the functionality.

[2022-09-15 15:16] #2219 closed

[2022-09-15 17:02] echeran commented on #1091
Work to be done here:

- [ ] Update [`PluralOperands`](https://unicode-org.github.io/icu4x-docs/doc/icu_plurals/struct.PluralOperands.html) struct
  - [ ] Create field for scientific notation exponent (just like `c`, but called `e`; see UTS 35 on Plural Rules for background)
- [ ] Update [`FixedDecimal`](https://unicode-org.github.io/icu4x-docs/doc/fixed_decimal/struct.FixedDecimal.html) struct

[2022-09-15 18:10] sffc commented on #1668
@zbraniecki Assigning this to you since the remaining work is all in components you own.

[2022-09-15 18:32] sffc commented on #1091
Discussion:

- We're not fully sure whether we need both `c` and `e` in `PluralOperands`
- To punt this problem, make `PluralOperands` be `non_exhaustive` and add a function `PluralOperands::from_ivwftc()` for 1.0. Eat the ergonomics hit for now. We can make it exhaustive again in the future once we are more confident.
- Punt the rest of this ticket to 1.x

[2022-09-15 18:36] sffc commented on #2342
`icu::` is covered by #2203. Bench refactor can be later.

[2022-09-15 18:38] sffc commented on #2412
@younies Please review the feedback from Markus and make a PR to improve the docs.

[2022-09-15 20:32] zbraniecki opened #2563 "[dx-papercut] Default datetimeformatter options don't work"
Data built with:
[code]

Code:

[code]

Current result:

[code]

[2022-09-15 20:32] zbraniecki commented on #2563
@nordzilla - does that make sense to you?

[2022-09-15 20:51] #2559 closed

[2022-09-15 20:54] sffc commented on #2563
We should make the default options not use TimeLength Long or Full to prevent this. I suggest Short.

[2022-09-15 20:55] zbraniecki commented on #1091
Can we make sure to have this as `experimental`? This is an ugly API and I'd like to get rid of it ASAP

Alternatively, could we have a struct called `IVWFTC` that `PluralOperands` can be `From`? No other methods needed, the new struct would be marked as experimental.

[2022-09-15 21:01] sffc commented on #1091
The other option is we just change all call sites to do `Default::default()` and set the fields they need. Would that be more palatable?

[2022-09-15 21:10] sffc commented on #2563
In other words,

[code]

should change to

[code]

Or, make them both Medium

[code]

[2022-09-15 21:12] sffc commented on #2563
Opinions on the above suggestions? Let's decide what to do and the fix is tiny.

[2022-09-15 21:13] dsipasseuth commented on #2540
versioning are increment right ?

i.e : `-cldr62` contains / include / is compatible with `-cldr61-alpha1`

[2022-09-15 21:13] sffc commented on #2563
More context: the bug is that Time::Full and Time::Long have a time zone field, and DateTimeFormatter doesn't support time zones (use ZonedDateTimeFormatter for that).

If we want to support Time::Full and Time::Long in DateTimeFormatter, we should tweak datagen to not output time zone fields in these data structs, but still make them available to ZonedDTF somehow.

[2022-09-15 21:25] zbraniecki commented on #1091
[code]

vs.

[code]

vs.

[code]

My vote is on the first.

[2022-09-15 21:44] sffc commented on #1091
The advantage of option 2 is that we don't need any more APIs or experimental features.

Between 1 and 3, I slightly prefer 1 because it doesn't involve importing an extra type and calling the less-discoverable From/Into impls; you just invoke the function.

[2022-09-16 01:36] sffc commented on #1965
The source for these mappings is:

https://github.com/unicode-org/icu/blob/main/tools/cldr/cldr-to-icu/build-icu-data.xml#L263

#2506 lays the groundwork for this to work. I will add tests for this iteratively.

[2022-09-16 01:45] sffc opened #2568 "Generate fallback supplement data only if it is needed"
Based on extensive discussion surrounding #2506, we decided to move forward with a design that adds `DataProvider<CollationFallbackSupplementV1Marker>` in `LocaleFallbacker::try_new_unstable`, meaning that this key is unconditionally matched when fallback is used, even if the collator component is not present.

To fix this, we can change datagen to remove this key if there is no other key that nee

[2022-09-16 02:15] #2485 closed

[2022-09-16 02:16] sffc commented on #2423
This was fixed by one of my other PRs. The function is now

[code]

[2022-09-16 02:16] #2423 closed

[2022-09-16 02:16] sffc commented on #2424
The `new` function no longer exists.

[2022-09-16 02:16] #2424 closed

[2022-09-16 04:17] #2507 closed

[2022-09-16 13:30] robertbastian opened #2570 "Add semverver CI"
After 1.0 we have to be careful not to violate [semver requirements](https://doc.rust-lang.org/cargo/reference/semver.html). We can use the [`rust-semverver`](https://github.com/rust-lang/rust-semverver) tool to generate a report for each PR.

[2022-09-16 13:41] robertbastian commented on #2570
Alternatively there's this crate as well https://github.com/Enselic/cargo-public-api

[2022-09-16 16:30] zbraniecki commented on #2348
What is the ask here? I'm using the new constructor signatures right now writing perf harness and find it unintuitive, but I'm not sure how it translates to a question of using a macro or not.

My STR is:

1. [Go to API docs for `DateTimeFormatter`](https://unicode-org.github.io/icu4x-docs/doc/icu/datetime/struct.DateTimeFormatter.html)
2. Look for typical constructor (`::new`, `::try_new`, `::def

[2022-09-16 16:36] sffc commented on #2348
This is excellent feedback. I'll work on a PR to address the pain points you found.

[2022-09-16 20:25] zbraniecki commented on #1668
Why do we require comment to be added to `panic!()` which has content string?

It feels weird to have:

[code]

have to be turned to:

[code]

[2022-09-16 20:29] Manishearth commented on #1668
@zbraniecki to me, the panic message is for the user, and the comment is for us. If they're redundant it feels fine to not comment it IMO.

[2022-09-16 20:33] sffc commented on #1668
@zbraniecki I've raised that concern before (also for `expect`) but the consensus of the group has been to require suppressions for all four (unwrap, expect, panic, and indexing_slicing).

[2022-09-16 20:35] sffc commented on #1668
For example, the following is the style we're going for: the comment and the panic message are disjoint

[code]

[2022-09-16 20:43] sffc opened #2571 "Resolve feedback from #2565"
They are internal things, except for potentially removing the `DataKeyHash::to_bytes` API (which I prefer to keep).

See #2565

[2022-09-17 01:01] sffc opened #2574 "Minor cleanups to icu_locid docs"
@markusicu had the following suggestions for icu_locid docs that don't affect the API surface:

- [ ] In various functions that take UTF-8 bytes, change it to say "ASCII bytes" since locale identifiers don't actually need full UTF-8.
- [ ] Likewise, "BCP-47 string" should be "BCP-47 ASCII string" and "BCP-47 bytes" should be "BCP-47 ASCII bytes"
- [ ] Several functions have important documentation

[2022-09-17 01:07] sffc opened #2575 "Rename private::Key and other::Key to Subtag or PrivateSubtag/OtherSubtag"
Feedback from @markusicu, which I very much agree with, is to rename `icu::locid::extensions::private::Key` and `::other::Key` to `Subtag` instead of `Key`. Markus says that the spec does not make any statements on the structure of the content of these regions, so it would be a misnomer to call them "keys".

We should *at least* rename them to `Subtag` instead of `Key`. I hope this part is not con

[2022-09-17 01:09] sffc opened #2576 "Rename all fallible from_bytes functions to try_from_bytes"
Many, or most, of our functions that are named `from_bytes` are fallible. @markusicu suggested that we follow the Rust convention of `try_from_...` to indicate a fallible function.

Thoughts?

- [ ] @zbraniecki
- [x] @Manishearth

[2022-09-17 01:15] sffc opened #2577 "Reconsider name of unstable constructors"
@zbraniecki suggested that we could rename our unstable constructors from `_unstable` to `_with_versioned_provider`.

I'd like to discuss a few options:

1. `_unstable`
2. `_with_versioned_provider`
3. `_with_unstable_provider`

I lean toward (3). The issue is that we are already on shaky ground making these functions public since they don't obey SemVer guarantees, so we should have a scary word i

[2022-09-17 01:16] zbraniecki commented on #2575
I'm comfortable with the change to `Subtag`.

I don't think I agree with the `OtherSubtag` - I prefer `other::Subtag` - but it's an arbitrary DX preference either way, so won't block if the group prefers to rename. I'd prefer not to expose them directly on `extensions::*` - I think it works really clean that each `type` is inside `extensions::*::*`.

[2022-09-17 01:21] zbraniecki commented on #2577
In my comment I made an argument that `unstable` has a negative connotation that is not intended - it makes it sound like you're working with something that may change from under you.

This method is intended to say that it expects a data provider using the same version as the code, not that it is temporary and subject to API changes at any point.

Therefore I prefer `with_versioned_provider`.

If

[2022-09-17 02:02] sffc commented on #2577
But that's exactly what the intent is. The function bound may change at any time, which could break code.

I tried to improve the docs for this in #2573; can you give feedback over there to land on verbiage first, and then revisit the naming?

[2022-09-17 03:27] markusicu commented on #2577
Slightly confused about the seeming contradiction between
- option 2 = `_with_versioned_provider` + “I lean toward (2).”
- “OK with `_with_unstable_provider`?”

I agree that `_with_xyz_provider` is more consistent than just `_unstable`.

Shane's arguments for `_with_unstable_provider` make sense to me.

All of these are parameterized on a v1 provider type, right? You could emphasize the instabilit

[2022-09-17 07:28] #2511 closed

[2022-09-17 07:36] #2203 closed

[2022-09-17 15:31] Manishearth commented on #2576
Do it.

[2022-09-18 23:06] Manishearth commented on #2577
Hmm, `_with_unstable_provider` makes it sound like it's requesting some kind of UnstableProvider, whereas it's not the provider that's unstable, it's the function that is. Not sure what it should be, I find the status quo pretty ok.

[2022-09-18 23:20] sffc commented on #2577
Typo, sorry. I lean toward (3).

Yes. The catch is that the old `_with_v1_provider` doesn't have a strong use case on its own. Anyone calling `_with_v1_provider` may as well call `_with_any_provider`. The `_unstable` constructor always selects the minimal latest data required, which is its value proposition.

[2022-09-19 08:02] hsivonen opened #2581 "Add aligned vs. unaligned benches with two slices where index into the second is read from the first"
As a follow-up to #1391, it would be relevant to have a benchmark that more closely tests the access pattern that is relevant to `CodePointTrie`: Having two slices where the index to read from the second slice depends on what is read from the first slice.

The point being checking if unaligned reads pessimize data dependencies in execution.

[2022-09-19 17:04] robertbastian commented on #2577
`with_provider_unstable`

`with_data_provider_unstable`

[2022-09-19 17:07] robertbastian commented on #2576
There are also fallible functions that don't have a `try_` prefix, like `str::from_utf8`, which I think is fairly similar to `from_bytes` functions.

[2022-09-19 17:10] robertbastian commented on #2575
I agree with Zibi, we already have `extensions::Other` which is the wrapper, `OtherSubtags` shouldn't be on the same level as that's not how `Unicode` and `Transform` work.

[2022-09-19 19:29] sffc commented on #2576
Yes, `FromStr::from_str` and `str::from_utf8` are counter-examples.

[2022-09-19 19:36] sffc commented on #2577
Looks like it's time for another ranked choice voting :)

https://docs.google.com/document/d/1AXm2f9Ngq06ESPA02DMbkq0su8s-U6CzE03CM1HuXl0/edit#

[2022-09-19 21:16] zbraniecki commented on #2577
My public appeal - the term "unstable" is meaningful to *us* because we understand what is unstable about the operation. It is *meaningless*, *confusing* and *scary* to the user of the API.

It is meaningless because it is not communicating information that majority of the users of the API will retrieve from the name. I believe more than 9/10 potential users of our API (non-i18n experts, OS/app de

[2022-09-19 23:20] Manishearth commented on #2577
FWIW I consider this a special case where "unstable" as a term of art exists for that specific operation already; the Rust community to me seems to generally use "unstable" rather consistently otherwise.

I feel like we can sufficiently document this as "use the other two unless you need to care about codesize". I think it's fine for a library to have some scarier, more advanced APIs that most peo

[2022-09-19 23:35] markusicu commented on #2577
An unstable_ prefix might also help in that these functions should be grouped together in the docs, and alphabetically late.

Are all constructors always at the top? If not, consider explicitly moving scary stuff to appear last.

[2022-09-19 23:43] sffc commented on #2577
Before I say anything further: have y'all read my new proposed documentation page comparing the three constructors and when you should use each one? All three have very clear use cases. I want to make sure we are on the same page.

https://github.com/unicode-org/icu4x/pull/2573

I'm very much in favor of making "easy" constructors with better ergonomics as long as they sit alongside the complicate

[2022-09-19 23:50] sffc commented on #2577
To elaborate on my last paragraph, we could have done it this way:

1. `try_new_latest` (unstable)
2. `try_new_1` (stable with DataProvider bounds)

A downside here is that people need to explicitly upgrade their call sites from `try_new_1` to `try_new_2` when a new version comes out, or else they will be stuck with old data and old behavior.

[2022-09-20 00:05] zbraniecki commented on #2577
How does one create a new `Date` or `DateTime` without understanding what ISO is or knowing what Gregorian is?

JS:

[code]

We can dive into details on calendar-defaultism, and `Date` in JS has its own set of papercuts, but the API is clean and as easy as it goes. You can even do:

[code]

to get the same. No mentions of cryptic names, no scary words, no forced implementation detail choices.

I d

[2022-09-20 00:41] sffc commented on #2577
Once we have the full time zone stack finished (which I was really hoping to see in 1.0 but didn't make it), you will be able to pass a timestamp into ZonedDateTimeFormatter without needing to explicitly acknowledge the calendar system, just like in classic ECMAScript and in Temporal.Absolute. That's your all-in-one, super-easy API.

However, I would note that the Temporal champions agreed that yo

[2022-09-20 00:47] sffc opened #2583 "Should DateTimeFormatter be renamed to PlainDateTimeFormatter?"
The ECMAScript Temporal champions agreed long ago that a type named `DateTime` is fraught. The reasons for this are fairly well documented in the Temporal docs as well as in the Temporal repository. The end result is that Temporal has the following types:

- `Temporal.Absolute` (under the hood: nanoseconds since Unix epoch)
- `Temporal.ZonedDateTime` (under the hood: time zone, calendar, and nanos

[2022-09-20 00:52] sffc commented on #2576
@Manishearth @zbraniecki does Robert's comment above change your opinion on this?

[2022-09-20 00:52] zbraniecki commented on #2583
Is there a paper trail on this decision? My weakly held initial position is that it is a mistake and `DateTime` vs `ZonedDateTime` is analogous to `Time` vs `DateTime`. We wouldn't try to name it `PlainTime` vs `DateTime`, and it doesn't scale to `PlainPlainTime` either :)

[2022-09-20 00:53] zbraniecki commented on #2583
As stated in #2577 I do not believe in usage of API name to educate developers. Therefore making a core type name longer to make people aware that this is non-zoned is imho a bad use of API and a bad DX.

[2022-09-20 00:54] zbraniecki commented on #2576
Yes. I am moving to `from_bytes` as it matches `from_str` and `from_utf8` and parsing is generally fallible so if there's no strict consensus in stdlib, I prefer shorter.

[2022-09-20 00:58] sffc commented on #2563
@zbraniecki told me he doesn't have an opinion, so I propose to move forward with Medium as the default for both.

[2022-09-20 01:07] sffc commented on #2583
I asked @ptomato for the paper trail.

My question is more about whether we should use Plain as a value prop of being consistent with Temporal.

[2022-09-20 03:23] Manishearth commented on #2583
I don't have a strong opinion here, but I have been bitten by the lack of all timelengths in the past.

[2022-09-20 03:24] Manishearth commented on #2576
I would caution against looking to the stdlib for consistent naming, the stdlib fossilized names before conventions existed, often.

But in this case I think either is fine; I don't think the community has a strong preference.

[2022-09-20 03:51] Manishearth commented on #2577
Oh, to be clear I think that PR does things well; I was just highlighting the need for it :smile:

I think your doc page plus potentially moving `_unstable` to the front of the function name might solve this issue sufficiently well. We can also move it to the bottom and if people care they can find it after learning about the existence of such ctors from your ctor docs.

@zbraniecki

Ah, I forgot

[2022-09-20 05:03] sffc commented on #2576
I haven't expressed my opinion yet. I have a preference for try_ naming because that seems to be the newer convention.

[2022-09-20 05:06] justingrant commented on #2583
Philip will follow up with more details, but I can share a summary of why `PlainDateTime` and `ZonedDateTime` ended up being named that.

Note that I have no opinion about what things should be called in ICU4X. I can just share the reasoning for Temporal. YMMV.

First, some background. There are three groups of use cases for a date/time API that knows about clock time and calendar date:
1. Use cas

[2022-09-20 13:51] robertbastian commented on #2576
I think the `try` prefix is only worth the extra typing if there's also an unprefixed fuction. So if we had `from_bytes` which panics, `try_from_bytes` would be the safe version of it. If we only have one function it should have a concise name. The fallability is part of the return type.

[2022-09-20 14:56] sffc commented on #2583
More paper trail: https://github.com/tc39/proposal-temporal/issues/11 followed by https://github.com/tc39/proposal-temporal/issues/33 followed by https://github.com/tc39/proposal-temporal/issues/707

[2022-09-20 15:19] sffc opened #2585 "Names of functions in icu_testdata"
This is a follow-up from https://github.com/unicode-org/icu4x/pull/2364#discussion_r961956445

Discussion: I would still prefer `icu_testdata::postcard()` over `icu_testdata::buffer()`. Even `icu_testdata::blob()` would be more precise.

Postcard is a special case of Blob\* which is a special case of Buffer.

We have two different types of buffer providers we can expose: the FsDataProvider JSON on

[2022-09-20 15:30] robertbastian commented on #2585
My main arguments against this were
* the symmetry of `Foo::try_new_with_buffer_provider(&icu_testdata::buffer())`
  * related: new users won't know that "Postcard is a special case of Blob* which is a special case of Buffer"
* we can change the internal representation of `icu_testdata::buffer` in the future, we shouldn't make guarantees about which serialization we use if it doesn't matter to the

[2022-09-20 18:12] sffc commented on #1091
After discussing with @markusicu and @echeran, the point was brought up that these fields should really not generally be things that users of ICU4X should know about or mutate.

I'm therefore heavily inclined to recommend the following:

1. Make all of the fields of PluralOperands be private (`pub(crate)`)
2. Add `from_ivwftc` as a doc(hidden) constructor
3. Revisit this in the future

[2022-09-20 18:19] zbraniecki commented on #1091
My vote is `1 > 3 >> 2` for reasons stated above.

[2022-09-20 18:33] sffc opened #2586 "Move FixedDecimalFormatter to the top of icu::decimal"
From @markusicu:

[2022-09-20 18:34] sffc opened #2587 "Consider naming of PluralCategory string parsing functions"
From @markusicu:

CC @zbraniecki

[2022-09-20 18:40] sffc opened #2588 "Add tests and/or fix large-magnitude numbers being converted to PluralOperands"
From @markusicu:

I should note that this also happens in string and FixedDecimal conversions. We should make sure we have consistent behavior across the board.

CC @zbraniecki

[2022-09-20 18:42] sffc opened #2589 "Make signed integer into PluralOperands be infallible"
There's not a reason it needs to be fallible. We should use unsigned_abs instead of checked_abs.

This is feedback from @markusicu.

[2022-09-20 18:42] sffc opened #2590 "More docs cleanups in list, decimal, plurals, normalizer"
More feedback from @markusicu regarding docs:

In `icu_list`:

- `ListFormatter::format` - docs are jarring because the second sentence mentions “first layer of parts” without introducing “parts”.  Should say that it implements Writeable and also provides Parts.
- An example of the `Writeable::with_part()` would be helpful to the user.  Maybe, FormattedList would be a good place to have the exampl

[2022-09-20 18:43] sffc opened #2591 "Label experimental normalizer functions with the proper docs"
Noticed by @markusicu:

[2022-09-20 20:21] sffc commented on #2372
I know that I was part of this discussion, but I don't really see the value in adding experimental flags here with no clear path to make them be non-experimental.

We already have these docs on load_canonical_combining_class:

[code]

If we add similar docs on `load_script`, then maybe that's enough. We don't really need to hide these other properties; they conform to our API standards, and if peo

[2022-09-20 22:28] #2586 closed

[2022-09-20 22:28] #2563 closed

[2022-09-20 22:48] sffc opened #2600 "Add benches for data provider constructors"
The data provider constructors are a big part of our startup cost. We should measure them and improve them if possible.

I think it's fine for the tests to measure the testdata versions of the providers.

[2022-09-20 22:59] zbraniecki commented on #2600
I have initial tests from my harness against datetime component, simple datetime formatting.
Params:
 * style Medium, Medium
 * locale "en"
 * provider: StaticDataProvider (--all-keys, --all-locales): 12.4mb
 * date constructed from epoch
 * format to Rust string

Breakdown:
* ICU4C
  * constructor: 12.881 µs
  * format: 1.4387 µs
  * total: 27.600 µs
* ICU4X
  * provider: 42.943 µs
  * constructo

[2022-09-20 23:00] zbraniecki commented on #2600
(if we extract provider constructor, then ICU4C is 27us, and ICU4X is 6.4us)

[2022-09-20 23:36] #2372 closed

[2022-09-20 23:37] makotokato opened #2602 "Per-component features for icu_capi"
When I am testing `icu_capi` in Gecko, `icu_capi` cannot select components excepting to provider. Example, when I want segmenter FFI  only, `icu_capi` has to build all components such as `datetime` unfortunately.  Since Gecko uses `cargo vendor`, I don't want to copy/build unused components in Gecko's source tree.

So I hope that `icu_capi` has more features to select `icu_*` components only such

[2022-09-21 06:13] #2591 closed

[2022-09-21 06:14] hsivonen commented on #2372
How likely will Postcard or FFI users end up with accidentally carrying duplicate data without the `icu_properties` instance of the data getting omitted?

[2022-09-21 08:30] hsivonen commented on #2577
"unstable" can mean many very different things of different scariness. If we mean semver-unstable, let's have "semver" in some form in the name.

[2022-09-21 14:44] Manishearth commented on #2532
Hmmm, I hadn't seen this issue before.

Hashmaps are super complicated; I'm not convinced we should be maintaining one. Do we have a strong use case yet where we have such a map?

[2022-09-21 15:49] robertbastian commented on #2507
I think this broke the WASM demo. The CI job shows failed right after uploading a PR, but then it disappears and I can't find it again. Anyway, this was the error.

[code]

[2022-09-21 19:31] Manishearth commented on #2049
I'm going to mark this as closed, this has had sufficient time to be discussed and reviewed.

[2022-09-21 19:31] #2049 closed

[2022-09-21 20:25] zbraniecki commented on #2583
That's what I'm curious about, because your preference is also my preference.

The solution chosen feels to me like a decent fallback, but I do not understand why would we have to go for it, when the top choice is optimal and available.

Right, which can be seen as a value prop for JS, but not for us and I'd count it as a pretty minor one in JS case compared to the accumulated cost of the unnecess

[2022-09-21 21:22] #2600 closed

[2022-09-22 07:10] justingrant commented on #2583
The explanation is straightforward: not everyone in our champions group shared my (and your!) opinion that favoring the zoned type was the right way to go.  Smart people with different experiences and temperaments will approach problems differently, and sometimes what seems like a top choice to one person seems like a bad idea to another.

Our group had a diversity of opinions ranging from "the zo

[2022-09-22 16:55] sffc commented on #2583
This is my main potential worry with DateTimeFormatter; it looks like thing thing people should use by default, but it doesn't support time zones.

[2022-09-22 17:20] sffc commented on #2585
- @echeran - The fact that we're using postcard isn't the most important thing in the ::buffer function; we have changed the repr in the past (JSON to Postcard)
- @Manishearth - Users reading the docs shouldn't be distracted by the icu_testdata functions; the only purpose of the functions is for docs tests, anyway, so that's what the naming should be tailored to

Decision: Close this issue. Less w

[2022-09-22 17:20] #2585 closed

[2022-09-22 17:48] sffc commented on #1091
- @zbraniecki - It seems useful to allow people to mutate their plural operands.
- @sffc - Some of the operands, like v, w, f, and t, are not independent. It doesn't make sense to change one without changing the others.
- @zbraniecki - My intuition is to just make it non_exhaustive.
- @markusicu - It needs to at least be non_exhaustive. It needs to be able to evolve as the spec evolves. But I've b

[2022-09-22 18:05] sffc commented on #1091
What to do next:

- Make `icu_plurals::rules` experimental
- Add a type `icu_plurals::rules::RawPluralOperands`, which is exhaustive with public fields
- Add conversions between PluralOperands and RawPluralOperands
- Update code that needs to build PluralOperands directly to use RawPluralOperands instead
- Drop the `PluralOperands::n()` method; perhaps move to RawPluralOperands

LGTM: @sffc @zbran

[2022-09-22 18:14] Manishearth commented on #2583
So ICU4X has a bit of a different set of tradeoffs, because we don't mandate a single date type, we allow people to pass in anything that implements the right trait.

We do not prima facie couple DateTime and TimeZone types: our ZonedDTF requires you to pass in a DateTime and a TimeZone, but due to the abstraction they can be two references to the same value.

We _do_ ship with a `Date`, `Time`, `

[2022-09-22 18:18] zbraniecki commented on #2587
I vote for `from_cldr` - CLDR is a better known name than UTS35 or TR35 and it's unlikely those two will diverge and we'd have CLDR with two string formats.

[2022-09-22 18:19] sffc commented on #2576
Choices:

1. `from_bytes -> Result`
2. `try_from_bytes -> Result`
3. `try_from_bytes -> Result` and `from_bytes (panics)`

- @Manishearth - I don't think we should have functions that choose to panic (gives reasons)
- @zbraniecki - If there is a combination of fallible and infallible possible, then separation makes sense; if the parsing of an input is always going to be fallible, then it's implici

[2022-09-22 18:28] sffc commented on #2587
My proposal:

`pub fn try_from_cldr_id(category: &[u8]) -> Result<PluralCategory, PluralError>`

This is a parsing function, not a matching function. It corresponds to a FromStr or TryFrom impl, but with a more specific name.

OK: @zbraniecki @sffc @echeran

[2022-09-22 18:38] sffc commented on #2583
- @echeran - jodatime is an arithmetic library. In that sense, an instant / zoned datetime makes sense. But for ICU4X, we're a formatting library, and we allow you to combine together different parts. Not using a `Plain` prefix is internally consistent.
- @sffc - We would more likely also change the names of `Date` to `PlainDate`, etc. But I abstain from that decision.

Consensus of the ICU4X team

[2022-09-22 18:38] #2583 closed

[2022-09-22 22:15] sffc opened #2612 "Error names should be consistent with crate names"
In my opinion:

`icu_datetime::DateTimeFormatterError` should be `icu_datetime::DateTimeError`

`icu_calendar::DateTimeError` should be `icu_calendar::CalendarError`

@Manishearth @zbraniecki

[2022-09-22 22:53] #2589 closed

[2022-09-22 23:41] sffc opened #2614 "Stabilize UTS 46 normalizer constructor"
The constructor [try_new_uts46_without_ignored_and_disallowed_unstable](https://unicode-org.github.io/icu4x-docs/doc/icu/normalizer/struct.ComposingNormalizer.html#method.try_new_uts46_without_ignored_and_disallowed_unstable) is currently experimental, with the following note:

This issue is to track the stabilization of this constructor. Currently on the backlog.

[2022-09-23 00:04] Manishearth commented on #2612
My (not super strong) opinion is that icu_calendar is primarily a crate about dates and times, and it just happens to be nameed calendar because datetime is already taken (since datetime_formatter is too long). The name length matters less for the error so we can give these errors the good name. I find that CalendarError feels weird coming out of date/time types (whereas DateTimeError seems okay c

[2022-09-23 01:51] #2513 closed

[2022-09-23 03:30] sffc opened #2618 "Leftover from_bytes renaming"
Continuation of #2576

I did not perform changes in the utils crates. We should do it there in order to be consistent.

[2022-09-23 04:22] sffc commented on #2612
## Rant regarding crate names

We're in a situation where the "good" names are taken by the formatters, since we don't include "formatter" in the crate/module names. `icu_decimal` is FixedDecimalFormatter and `fixed_decimal` is FixedDecimal.

In this case, `icu_datetime` took the good name, so we're stuck with `icu_calendar` for the input type. I think that's just fine. Most of the content of `icu

[2022-09-23 05:29] zbraniecki commented on #2612
My position is moving closer to yours over time. I used to prefer separation between types that are commonly imported into mixed-component uses (say, main.rs imports `icu_datetime::Error` and `icu_plurals::Error` and then it's just easier to have `DateTimeError` and `PluralsError` than to rename in import), and types that are rarely used outside of internal single-module code (say, `icu_datetime::

[2022-09-23 09:56] sffc commented on #2532
The use case that motivated me to file this issue was that CLDR wants to add hundreds of new parent locales. The current ZeroMap stores only a couple dozen, and it will choke if the CLDR issue gets accepted. There may be other models for storing this data that don't require a HashMap but I haven't thought it through thoroughly.

https://unicode-org.atlassian.net/browse/CLDR-15893

Procedurally, I

[2022-09-23 13:26] dsipasseuth commented on #2281
Do you have a preferred location/structure for the module ?

For now, I'll just put it under `component/tutorial` on my PR, but happy to move it anywhere it makes sense.

[2022-09-23 15:54] sffc commented on #2281
`components/icu/src/tutorial.rs` would be a good spot. You can make the module `#[cfg(doc)]` and then it shows up in docs but not elsewhere.

[2022-09-23 16:32] dsipasseuth commented on #2281
Do you want to merge all 4 md files from the tutorial folder into one giant lib.rs file ?

[2022-09-23 17:14] sffc commented on #2281
You could make a directory `components/icu/src/tutorials` and then different `.rs` files inside

[2022-09-23 18:42] Manishearth commented on #2532
Ah, that's quite reasonable. Are there other ways to do maps that might work? Perhaps a BTreeMap-like solution?

I suspect perfect hashing is the right solution here, but also mutation becomes far far worse for anything that's not a flat sorted map.

[2022-09-23 20:40] #2486 closed

[2022-09-23 21:24] echeran opened #2623 "Plural rule parsing and handling code cleanup"
In #1091, we recently [discussed](https://github.com/unicode-org/icu4x/issues/1091#issuecomment-1255357491) and concluded [next steps](https://github.com/unicode-org/icu4x/issues/1091#issuecomment-1255373753) that are specific to the immediate short-term needs of the imminent v1.0 release.  In the process of working on #2598 to implement those specific changes, some difficulties arose due to the c

[2022-09-23 21:36] sffc commented on #2623
We should either move the code to its own crate, or establish a new feature in icu4x that means "this code is not stable but also not experimental".

It's a bit tricky that runtime depends on reference; it means we can't just block out the whole reference module from compilation. We may need to compile it all the time, but have a conditional re-export of it that we can put in a feature.

[2022-09-23 21:43] zbraniecki commented on #2623
We could reverse the order and have `reference` reference `runtime` but then extracting it to a separate crate will be harder.

[2022-09-23 21:44] sffc commented on #2623
The dependency is deeper than that; `runtime` needs `reference` because we use `reference` for serializing into JSON.

[2022-09-23 21:45] sffc commented on #2623
The dependency is deeper than that; `runtime` needs `reference` because we use `reference` for serializing into JSON.

[2022-09-23 23:11] #2412 closed

[2022-09-24 00:41] sffc commented on #2602
The benefit of this change is unclear other than reduced build times. It doesn't have an effect on `cargo vendor`, and component crates have very few dependencies outside of ICU4X anyway.

I'm not _opposed_ to it, but icu_capi already has a lot of features, so I want to make sure this change is well-motivated before we do it.

[2022-09-24 00:53] sffc opened #2625 "Further optimize BlobDataProvider constructor"
In #2603, I improved the performance of the BlobDataProvider constructor by 60%. However, there is still a lot more that can be done. In principle, this should be a constant-time operation, except that we need to do minimal validation of the bytes.

There are two parts of the constructor that take the most time:

1. Checking that the indices list in the VarZeroVec is sorted (a bigger chunk)
2. Che

[2022-09-24 01:07] zbraniecki opened #2626 "Make skeleton::create_best_pattern_for_fields fallible"
`skeleton::create_best_pattern_for_fields` uses `GenericPattern::combined` constructor which is fallible, so the method should also be fallible.

We currently assume that the pattern will never fail.

[2022-09-24 01:16] zbraniecki opened #2627 "PatternPlurals::expect_pattern can panic"
In review of #2572 @sffc raised concern about `PatternPlurals::expect_pattern` being panicy.

The method has been added together with introduction of `PatternPlurals` specifically for WeekOf in #918 .

It introduced a level of complexity which is necessary for a rare case (WeekOf) but applies on all patterns, so the author, @mildgravitas introduced this extractor to avoid having to turn every call

[2022-09-24 02:29] sffc commented on #2627
It doesn't need to propagate around the codebase so long as there is a reasonable default behavior. GIGO > Panic. #2351

[2022-09-24 02:42] sffc commented on #2627
For example, the code currently reads

[code]

Why can't we handle it more like

[code]

[2022-09-24 03:43] zbraniecki commented on #2627
My argument is that if there is ever code that executes that `pick default` branch, then the developer likely made a mistake. Your suggestion will hide it.

[2022-09-24 05:42] sffc commented on #2627
Two things to pick apart here: (A) whether this is a developer mistake, and (B) what we should do if the developer makes a mistake.

On (A): I'm not convinced this is a developer mistake.

1. This is a function that returns a single pattern out of an enum that may contain multiple patterns based on plural form. The correct thing to do in that case is to return the "other" plural variant.
2. Althou

[2022-09-24 06:26] sffc opened #2630 "Do we need the icu::datetime::input module?"
[icu](https://unicode-org.github.io/icu4x-docs/doc/icu/index.html)::[datetime](https://unicode-org.github.io/icu4x-docs/doc/icu/datetime/index.html)::[input](https://unicode-org.github.io/icu4x-docs/doc/icu/datetime/input/index.html#) looks basically the same as [icu_calendar](https://unicode-org.github.io/icu4x-docs/doc/icu_calendar/index.html)::[types](https://unicode-org.github.io/icu4x-docs/do

[2022-09-24 06:47] sffc commented on #1415
I scope-creeped this to look at all functions that take by value or reference.

There are a number of places where we take Copy types by reference, especially by self reference:

- `try_add` and `try_sub` and `number` on Copy types such as `IsoHour`, `NanoSecond`, etc: should it take `self` or `&self`? Currently it takes `&self`
- `AnyCalendarKind::as_bcp47_*`: it takes a `&self` but should it tak

[2022-09-24 06:51] sffc commented on #2576
Now that I'm in the middle of implementing this, I actually really like the `try_from` convention because it makes method chaining a lot easier to read. We often do `Foo::try_from_bytes().map(...).map_err(...)?` and it makes it a lot more clear where the `Result` originated from.

[2022-09-24 17:31] #2348 closed

[2022-09-24 17:32] #2587 closed

[2022-09-25 01:56] Manishearth commented on #1415
I would default all of those to `self`, except the ones below

nope, RangeBounds doesn't require Copy and the main Range types aren't Copy

No strong opinion here, really, probably prefer `self` as a general style rule

[2022-09-25 01:59] Manishearth commented on #2630
Those are all reexports I think; we should get rid of them. It made more sense in the past.

We need the module for the `FooInput` traits and a couple other small things, nothing else.

[2022-09-25 05:17] #2576 closed

[2022-09-25 05:30] sffc commented on #2630
Indeed, there is a comment in the code that says

[code]

but with no issue linked.

I'm making a PR to remove the public re-export for 1.0 and updating the TODO to point to this issue to clean it up in the code later with lower priority.

[2022-09-25 05:43] sffc opened #2637 "Utils: take Copy types by value"
There are some places in crates like zerovec where we borrow Copy types, such as ZeroMapBorrowed. Fix before Utilities 1.0.

[2022-09-25 05:43] sffc commented on #1415
I'm making a PR for this issue and opening #2637 for utils crates.

[2022-09-25 06:04] sffc commented on #2577
So far there is no clear winner from the ranked choice voting. No choice has an average rank higher than 3, and every choice has at least 1 veto.

I'm going to assume we keep the status quo unless a clear winner emerges before we stamp the 1.0 release. If we decide on a better name later, we can always `#[doc(hidden)]` the old one as an alias to keep stability.

I would prefer to not invent new la

[2022-09-25 06:21] sffc commented on #1415
I think the subtag `as_str` functions need to be `&self` because they borrow from themselves to make a string (i.e. TinyAsciiStr::as_str). I'm putting the rest into a PR.

[2022-09-25 06:33] sffc commented on #2612
Please vote:

https://docs.google.com/document/d/1LnAeOmP6AfUqKY0NOzOX5CPggS6ZDEEM397uSnMiI3o/edit#

[2022-09-25 06:39] sffc opened #2639 "Is it wrong to return DataError instead of crate errors?"
Something like half of our functions that take a DataProvider and return a `Result` return the `DataError` directly. Is this correct, or should we be wrapping the `DataError` in the crate's error type for consistency and extensibility?

@Manishearth @zbraniecki

[2022-09-25 06:42] sffc commented on #2639
This is related to one of our oldest issues that remains unresolved: https://github.com/unicode-org/icu4x/issues/153

[2022-09-25 18:37] dsipasseuth commented on #2281
There's actually a way to make .md files contain rust code that will be tested just by adding a few directive.

[code]

Also, I need some help with the "writing a new data struct". I could not manage to get a "simple version" that just compiles and run.
I think it needs a more in depth rewrite. (May be use `hello_world.rs` as a baseline for a "step by step" and explaining each concept as it move f

[2022-09-25 19:19] #1415 closed

[2022-09-25 22:48] Manishearth commented on #2639
I think it's fine to return the most specific error. I think we should be wary of having a crate return too many different error types, but "DataError + CrateError + fmt::Error" seems rather fine, and they can Into into each other.

[2022-09-25 22:53] Manishearth commented on #2612
I'll say that around 1.0 Rust tried to pick this up as a consistent style guideline (you can see this reflected in a lot of stdlib APIs), and everyone hated it and didn't follow it. People are reluctant to refer to _types_ qualified by an imported module/crate name[^1], and folks tended to rename the type to CrateNameError anyway, so it wasn't worth it (and people stopped doing it after a while).

[2022-09-26 00:30] sffc commented on #2639
My concern is that if a constructor returns DataError, but in the future we add more features, we might need to return a different type of error, and it's more extensible to use an error enum, even if for now it has only 1 variant.

[2022-09-26 00:37] sffc commented on #2612
We already formed consensus to move forward with namespaces to hold datetime fields (fields::Hour) and locid subtags (extensions::unicode::Value).

I think the case is _even stronger_ to do this with Error, because

1. Most people never import the error type thanks to Eyre and the ? operator
2. Those that do are most likely implementing From, possibly from multiple sources; and I find implementing

[2022-09-26 00:44] sffc opened #2640 "DateTime from minutes since epoch can't fail"
It returns a Result but it can't fail. Fix.

CC @zbraniecki

[2022-09-26 14:01] Manishearth commented on #2639
Ah, that's fair and a reasonable reason to not use DataError.

[2022-09-26 14:44] Manishearth commented on #2612
I don't think this is quite correct; Eyre is used more in the (non-low-resource) application space; e.g. rustc does not and likely will never pervasively use Eyre (though it might use it in some contexts, it's big). Libraries tend to do their own errors.

Again, I think this works well in theory, in practice this leads to people renaming errors and being unhappy about it. I feel like there's some

[2022-09-26 16:43] #2575 closed

[2022-09-26 16:45] Manishearth commented on #2281
Replace the commit hash with `main`

[2022-09-26 16:48] #2630 closed

[2022-09-26 17:00] dsipasseuth commented on #2281
I've tried, it doesn't work :'(

https://github.com/unicode-org/icu4x/blob/main/provider/core/src/hello_world.rs#L105-L122

[2022-09-26 17:09] Manishearth commented on #2281
that link works, it won't inline it though, if that's what you were wondering.

[2022-09-26 17:26] dsipasseuth commented on #2281
The point was to actually have it point to an actual code in repository, but displayable for doc.

Current doc right now points to files and have code snippet.
But files have changed a lot, and are definitely not up to date anymore.

I managed to point it back to where it moved.

[2022-09-26 17:32] sffc opened #2643 "Fix Time::from_minute_with_remainder_days to handle negatives properly"
The function currently has incorrect behavior for minutes before 1970. Fix and add tests.

[2022-09-26 17:42] Manishearth commented on #2281
Yeah that's not really possible, sadly.

[2022-09-26 18:23] sffc commented on #2129
Segmenter is going to remain in alpha at ICU4X 1.0 so I'm moving this to 1.1

[2022-09-26 18:27] sffc commented on #2281
I'm unfortunately moving this issue to the 1.1 milestone since it is not a strict blocker to the 1.0 code release. However, we still want the tutorials ready for the 1.0 blob post and publicity which is in the coming week.

[2022-09-26 18:31] sffc commented on #1980
Now that we are using fallback mode Collation, this can be implemented without breaking things.

[2022-09-26 18:32] sffc commented on #1966
Now that we support custom parents for collation data, this is something we can fix if necessary. Note that ICU4C already performs this mapping in the icuexportdata.

[2022-09-26 18:33] sffc commented on #1965
I'm using this as the main tracking issue for collation fallbacks.

[2022-09-26 18:34] sffc commented on #1964
I still need to implement the actual zigzag fallback, but this can be done in the Collation fallback mode.

[2022-09-26 18:39] sffc commented on #1110
The last remaining issue is #664. Closing in favor of that issue.

[2022-09-26 18:39] #1110 closed

[2022-09-26 18:45] sffc commented on #1246
Document the following in the data provider tutorial:

1. Design is such that caching is not needed, but could be added based on specific client needs
2. Examples of how to do overlays/overrides

[2022-09-26 18:48] #2577 closed

[2022-09-26 19:16] Manishearth opened #2648 "Use more log::warns in the code"
We have a bunch of debug asserts that could probably be log::warn for better user experience.

Perhaps also have a `strict_assert` feature that switches between warning and panicking for testing purposes,.

[2022-09-26 19:16] sffc commented on #2612
Going with option 5 since options 1-3 all have vetoes, options 5 and 4 have similar scores, and 5 is easier to implement without needing additional bikeshedding.

[2022-09-26 19:56] #2640 closed

[2022-09-26 19:57] #2627 closed

[2022-09-26 20:53] #1668 closed

[2022-09-26 21:06] sffc commented on #805
Since there is no answer to the above question, I am going to assume the answer is NO, and moving this to 1.x.

[2022-09-26 21:06] sffc commented on #995
@nordzilla Please act on the above.

[2022-09-27 00:28] Manishearth opened #2653 "ICU4X 1.0 release checklist"
- [ ] 1.0-final milestone empty
 - [ ] Casemapping and segmenter should not get 1.0 released
 - [x] Utils released (#2651, #2652)
 - [ ] Regular release checklist https://github.com/unicode-org/icu4x/blob/main/docs/process/release.md
 - [ ] Release all other crates
 - [ ] Blog post published
 - [ ] Email to icu4x-announce (posted from an @unicode.org email)

cc @sffc

[2022-09-27 00:32] sffc commented on #2136
This is finally fixed.

[2022-09-27 00:32] #2136 closed

[2022-09-27 01:38] #2612 closed

[2022-09-27 01:38] #153 closed

[2022-09-27 01:38] #2639 closed

[2022-09-27 15:41] srl295 commented on #384
That image is probably from before 1998. It's a lot nicer at full size. It was probably meant to go on a powerpoint slide and not to be used as a logo.

[2022-09-27 21:42] zbraniecki opened #2663 "Rename *BreakSegmenter to *Segmenter"
`WordBreakSegmenter` is a weird name - we segment into words, not word breaks. `WordBreakIterator` makes sense because we iterate over word breaks.

So I suggest either `WordBreakIterator` or `WordSegmenter` and Shane and Ting-Yu like `WordSegmenter` more.

Same goes for `LineSegmenter`.

[2022-09-27 21:49] sffc commented on #2663
LGTM on `FooBreakSegmenter` to `FooSegmenter` for all four segmenter types.

Note that we still need `FooBreakIterator` as the mutable iterator type that the segmenter returns when given a string.

[2022-09-27 22:19] aethanyc commented on #2663
cc @makotokato

[2022-09-27 22:43] zbraniecki opened #2664 "`icu_segmenter` feature doesn't work for datagen"
We would like to be able to generate data with `icu_segmenter` but without other experimental features.

Unfortunately, in several places we gate datagen on `experimental` making it all-or-nothing:

* https://github.com/unicode-org/icu4x/blob/ed5f96813c6e9a7366bb6cc848846beacff35c94/provider/datagen/src/registry.rs#L23
* https://github.com/unicode-org/icu4x/blob/main/provider/datagen/src/transform

[2022-09-27 22:58] echeran commented on #2663
I think the general term for this is segmentation.  However:

- When it comes to developers who use i18n APIs, people are familiar with "BreakIterator" because of ICU.
- Meanwhile, in the localization industry, translators will use the "segmentation", and they mostly use it as synonymous for the process of taking a full document and splitting it into text units, which are themselves split into ind

[2022-09-27 23:02] Manishearth commented on #2664
In general our "public" features tend to be the ones in the features list, not the extra ones that appear due to having optional dependencies. I don't think we've _so far_ attempted to have per-component gating, though I do want this eventually, and I want it for

 - `icu`
 - `icu_capi`
 - `icu_datagen`
 - maybe even `icu_testdata` though i care less about that

[2022-09-27 23:03] Manishearth commented on #2664
(I'd prefer we file a catch-all issue about that and close this one)

[2022-09-27 23:37] zbraniecki commented on #2663
This argument does not hold much water for me. We're about to release `Intl.Segmenter` in JavaScript. We're writing API for 10y+ horizon, and I suspect that with ICU4X+ECMA-402 we have control over which term is the default one.

The argument about localization industry already using the term segmentation reads to me as an argument for Segmenter as a concept.

I support `FooSegmenter` producing `F

[2022-09-27 23:39] zbraniecki commented on #2664
I prefer to keep this one because catch-all may require much more work and this one currently makes it hard/impossible to measure Segmenter without affecting DateTime (Shane says that enabling experimental datetime feature affects performance of datetime).

[2022-09-27 23:42] Manishearth commented on #2664
@zbraniecki that's for datetime-the-component, not datetime-the-datagen. no?

for datetime-the-datagen you just get extra data you won't need. If you're measuring segmenter you probably aren't generating datetime data anyway

[2022-09-27 23:43] Manishearth commented on #2664
For benchmarking I would suggest:

 - Run icu4x-datagen with `--experimental` but specific keys listed, that way it won't generate a bunch of the random nonsense
 - Benchmark individual crates with data generated for them only

[2022-09-27 23:51] zbraniecki commented on #2664
I'm not sure how the experimental feature affects keys. If the datagen `experimental` does not affect the performance of datetime, then I'm comfortable with moving this to catch-all issue.

[2022-09-27 23:59] Manishearth commented on #2664
Yes, that's the case. Turning `experimental` in datagen will enable support for more keys (and build them if you're using `--all-keys`), but it doesn't change existing ones

[2022-09-28 06:12] Manishearth opened #2675 "More intro material from a Rustacean point of view"
I think ICU4X's readme and tutorials are largely written from the point of view of "I am an internationalization user and I want to use ICU4X", which is quite reasonable since that is the majority of our clients.

I do think that we should also try and pay attention to the potential user base of Rustaceans who may not necessarily know much about internationalization.

I do try to make some fixes a

[2022-09-28 06:27] zbraniecki commented on #2675
I agree. I think we need to continue building on recent improvements - I think our API docs are very good (not great yet!), and we have tutorials that provide the onboarding *when necessary*.

What I'd like us to improve is to go one step further in two directions:
* Introduce i18n. I understand we won't have a lot of time for it, but bridging the gap from "I stumbled upon ICU4X and it tells me it

[2022-09-28 06:32] hsivonen opened #2676 "Data generation part of intro needs more detail"
https://github.com/unicode-org/icu4x/blob/main/docs/tutorials/intro.md#generating-data is not complete enough for the reader to learn how to actually get all the details in such an order that their app can use generated data a) as postcard or b) as baked instead of `icu_testdata`.

The doc needs more text, either inline or by reference to another doc, to give a step-by-step guide for getting to th

[2022-09-28 06:34] hsivonen opened #2677 "Data generation part of intro needs more clarity about icuexport"
Currently the text at https://github.com/unicode-org/icu4x/blob/main/docs/tutorials/intro.md#generating-data talks about CLDR and doesn't explain what ICU-exported data is. It should explain that ICU-exported data covers Unicode Database data and CLDR data for collation. That is, the reader shouldn't assume that all CLDR-originating data is bundled for ICU4X use via `--cldr-tag`.

[2022-09-28 16:34] Manishearth commented on #2675
Yeah that's a good sketch I think!

[2022-09-29 03:50] aethanyc opened #2682 "Remove icu_segmenter_lstm on crates.io or redirect it to icu_segmenter (crate graveyard)"
https://crates.io/crates/icu_segmenter_lstm/ was a standalone crate, but it has been merged into segmenter crate in #2087. We should probably remove it from crates.io or redirect it to https://crates.io/crates/icu_segmenter.

cc @Manishearth @sffc who are familiar with crate publishing.

[2022-09-29 18:35] Manishearth opened #2683 "Datagen should be fallback-aware"
Currently, datagen will generate data for each key that is requested of it. In `--all-locales`[^1] mode, this means that for, e.g. `decimal/symbols@1`, there will identical entries for all of these locales:

![image](https://user-images.githubusercontent.com/1617736/193112688-5c27d7e7-79db-40cc-a106-3ebdf81424c0.png)

even though they all fall back to `sr`. BlobDataProvider and BakedDataProvider d

[2022-09-29 18:38] nordzilla opened #2684 "Add information on which time zone is preferred for a metazone in a given territory from metaZones.json"
#995 added metaZones.json to the CLDR data provider.

This file contains informoation about which time zone is preferred for a metazone in a given territory, but we are not yet extracting this data for use in ICU4X.

This issue intends to separate out that concern from the original issue #995 which added the file.

[2022-09-29 18:39] nordzilla commented on #995
Created issue #2684

[2022-09-29 18:39] Manishearth opened #2685 "Better document key selection"
We cover this a _little bit_ in @robertbastian's new [data management tutorial](https://github.com/unicode-org/icu4x/blob/main/docs/tutorials/data_management.md), but we probably should improve this: Most users will want to select a subset of keys, and keyextract is one way of doing so, but sometimes you need to slice in ways not covered by keyextract, or are operating in a situation where keyextr

[2022-09-29 18:39] #995 closed

[2022-09-29 18:50] zbraniecki commented on #2685
Additionally, we should improve DX by providing `notice` information to datagen keyextract on gotcha-scenarios.

I imagine notices like `your binary will generate  list of keys including all calendar systems.` or `Your binary will generate only gregorian calendar data. Are you sure your application will never need other calendars?`. `Your binary only instruments to generate cardinal plural rules.

[2022-09-29 19:03] zbraniecki opened #2686 "Add NaiveFallback"
In relation to #2683.

The current fallback mechanism is quite costly in binary size and data payload to support. In order to enable customers to use ICU4X without it, we by default do not deduplicate data that would rely on runtime fallbacking.

I believe we can (in a true Rust fashion!) resolve this dychotomy by introducing The Third Way between `no fallback` and `full fallback`. I dubbed it `na

[2022-09-29 19:18] zbraniecki commented on #2686
I created a small script that takes all locale data for a given key, hashes the content and deduplicated to the smallest number of data files to cover all keys.

In case of `decimal/symbols@1` the ideal deduplication would reduce the number of keys from 683 to 49.

[2022-09-29 19:28] zbraniecki commented on #2686
* `datetime/gregory/datesymbols@1` - 574 -> 257
* `datetime/gregory/datelengths@1` - 574 -> 187
* `datetime/week_data@1` - 155 -> 6
* `datetime/timesymbols@1` - 574 -> 205
* `plurals/cardinal@1` - 215 -> 39
* `plurals/ordinal@1` - 100 -> 24
* `collator/data@1` - 132 -> 122
* `collator/meta@1` - 142 -> 9
* `time_zone/formats@1` - 574 -> 141
* `time_zone/generic_long@1` - 574 -> 162
* `list/and@1` -

[2022-09-29 20:04] robertbastian commented on #2685
Key extraction works fine for wasm.

[2022-09-29 20:15] robertbastian commented on #2676
Fixed by #2678

[2022-09-29 20:15] #2676 closed

[2022-09-29 20:20] maraist opened #2687 "ZeroCopy documentation needs more concrete examples"
I spent 2 days going line by line through the source code of zerovec to try and understand how to do the non-trivial mappers.  There are two or three non-obvious gotchas and at least one incorrect statement.  Attached I have my test file which I tried to clean up to perhaps be directly commit able in your repository.

The incorrect documentation statement says you can have exactly 1 tail "Cow" lik

[2022-09-29 20:50] Manishearth commented on #2685
@robertbastian it can't do it based on the JS apis actually being called, no?

[2022-09-29 22:28] sffc commented on #2686
https://github.com/unicode-org/icu4x/issues/834

[2022-09-29 22:28] sffc commented on #2683
https://github.com/unicode-org/icu4x/issues/834

[2022-09-29 22:32] sffc commented on #2686
tl;dr, locale fallback is very, very complicated. I have a plan for how to solve the size and speed issues. It's something we can improve incrementally.

[2022-09-29 22:34] zbraniecki commented on #2686
I don't think this is the same as #834. That one is about *including* locales based on allowlist, this is about deduplicating.

[2022-09-29 22:42] Manishearth commented on #2683
@sffc do you think we should close one of these in favor of the other, or is this more a subset issue of #834? I do think this has a sketch of a more concrete plan to tackle a subpart of this.

[2022-09-29 23:10] echeran commented on #1848
And we may want to revisit normalizer / collator to see if we can get performance gains by utilizing any ICU4X port of ICU's optimized special case APIs for getting values from CPT for UTF-8 / UTF-16.

(FWIW, IIUC, the ICU implementations of normalizer / collator do make use of this strategy of using the code units directly to traverse the CPT rather than construct the whole code point and then le

[2022-09-29 23:21] sffc commented on #2686
It's the same in the sense that these problems can be solved by making DataExporter smarter. We can either pre-populate locales or strip them if they have duplicates.

Note that "naive fallback" is already supported; see the no_data constructor on FallbackProvider.

[2022-09-29 23:57] Lucretiel opened #2689 "Consider exposing sort keys"
It would be nice if `icu_collator` had exported sort key types, in addition to `Collator::compare`. This would allow sort keys to be computed once (via `sort_by_key` or similar utilities), after which they only need to be compared (which I understand to be much simpler than the computation step, and also not locale-sensitive).

[2022-09-30 02:02] sffc commented on #2686
Back on my computer so I can write a more complete response…

It has some cost in binary size, but not too much. The data size cost is about 10 kB.

We do deduplicate data; we store essentially just a pointer for these extra locales. It does mean that lookup is slower so long as we use binary search.

This is exactly what our currently algorithm is doing when you run it in no-data mode. You add da

[2022-09-30 02:05] sffc commented on #2683
The two issues are not _exact_ duplicates of each other, so we should keep them both open, but there will probably be a single PR or sequence of PRs that will fix this and the other related issues.

[2022-09-30 02:13] sffc commented on #2686
Another point on this topic. I think there have traditionally been two ways of looking at locales in software, and ICU4X adds a third:

1. Ship all available locales all the time
2. Ship a minimal set of locales based on product needs
3. (New with ICU4X) Ship a core set of locales with more loaded on demand

For case (1), these clients are already eating a large cost by shipping all locales, so sh

[2022-09-30 02:39] sffc commented on #2685
A few things here:

1. With keyextract, there are no "gotchas"; that is the beauty of it. It will not try to remove calendar systems or plural variants if they are reachable by any code path.
2. Doing this in JS is possible, but it requires a few extra steps: first you need to DCE your Diplomat-generated JS code, then you need to rebuild the WASM file to export only the reachable entrypoints, and

[2022-09-30 02:58] zbraniecki commented on #2686
My claim is that the storing 500 locale strings when only 100 are needed is a substantial portion of the postcard payload, and it accrues cost for component constructor to select from.

My hope is that we can do better. If you think that the fallback is not costly, I'd love to see the size of the postcard files when we use the full fallback to deduplicate and reduce the number of keys to minimum.

[2022-09-30 03:14] zbraniecki commented on #2686
It's improving on `no key deduplication` which is the default mode of datagen.

In case of `decimal/symbols@1` we are currently carrying around 684 keys, while ideally we would only carry 49. We can't do that because we need to annotate fallback, but among those 684 keys, we have only 87 language keys. I assume in almost all cases more specific locales can fallback onto the language itself, and ma

[2022-09-30 03:36] sffc commented on #2686
Yeah, the empty pointers are a significant source of data size and especially lookup speed issues in certain keys including number format and date format. This is a bug in datagen. The empty pointers should be calculated and removed at datagen time, and a subset may be added back if compile-time fallback resolution is requested.

Nit: Let's be careful on language here. `decimal/symbols@1` is a key

[2022-09-30 03:43] sffc commented on #2686
I guess what I'm trying to say is, I'm thinking from the angle that the bug in datagen (which I've known has existed since basically the inception of datagen) will be fixed. Fixing it requires some care and design, but it is totally fixable in a dot release. My above claims about fallback being a fairly low cost relative to the cost of adding all locales are based on the world in which the bug in